{% extends "admin/change_list.html" %}
{% load staticfiles account_tags %}
{% block footer %}

    {% if request.get_full_path|find_bool:"myuser" == True %}
          <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'mce_filebrowser/js/filebrowser_init.js' %}"></script>
  <script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/windows.js' %}"></script>
               <script type="text/javascript" src="{% static 'js/description_textareas.js' %}"></script>
<div id="footer">
<div><a href="/account/allmsgs/"><b>Логи отправки</b></a></div><br>
<h2>Отправить сообщение пользователям:</h2>
    <form class="dialogs-form" action="/account/allmsg/" method="post">
    {% csrf_token %}
    <textarea  name="allmsg" cols="30" rows="10" autofocus></textarea>
	<input type="submit" value="отправить" >
	<input name="url" type="hidden" value="{{ request.get_full_path }}">
	</form>    
    </div>
  
    {% endif %}


    {% if request.get_full_path|find_bool:"timer" == True %}
          <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'mce_filebrowser/js/filebrowser_init.js' %}"></script>
  <script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/windows.js' %}"></script>
               <script type="text/javascript" src="{% static 'js/description_textareas.js' %}"></script>
<div id="footer">
<div><a href="/account/allmsgs/"><b>Логи отправки</b></a></div><br>
<h2>Отправить сообщение пользователям:</h2>

    <form class="dialogs-form" action="/account/allmsgcodes/" method="post">
    {% csrf_token %}
    <textarea  name="allmsg" cols="30" rows="10" autofocus></textarea>
       <br><br> <label><b>Коды (по одному в строке):</b></label><br>
        <textarea  name="codes" cols="30" rows="10" style="width:40%" required></textarea><br>
	<input type="submit" value="отправить" >
	<input name="url" type="hidden" value="{{ request.get_full_path }}">
    </form></div>
    
    {% endif %}
					{% endblock %}

