{% extends "admin/change_list.html" %}
{% load staticfiles account_tags %}
{% block footer %}
<script type="text/javascript" src="{% static 'js/detect.js' %}"></script>
        <script type="text/javascript" src="{% static 'grappelli/tinymce/jscripts/tiny_mce/tiny_mce.js' %}"></script>
<script type="text/javascript" src="{% static 'filebrowser/js/TinyMCEAdmin.js' %}"></script>
    {% if request.get_full_path|find_bool:"myuser" == True %}
<div id="footer">
<h2>Отправить сообщение пользователям:</h2>
    <form class="dialogs-form" action="/account/allmsg/" method="post">
    {% csrf_token %}
    <textarea  name="allmsg" cols="30" rows="10" autofocus></textarea>
    <input type="submit" value="отправить" >
    <input name="url" type="hidden" value="{{ request.get_full_path }}">
    </form>    
<br>
<div><a href="/account/allmsgs/"><b>Логи отправки</b></a></div><br>
    
</div>
  
    {% endif %}


    {% if request.get_full_path|find_bool:"timer" == True %}
<div id="footer">
<h2>Отправить сообщение пользователям:</h2>

    <form class="dialogs-form" action="/account/allmsgcodes/" method="post">
    {% csrf_token %}
    <textarea  name="allmsg" cols="30" rows="10" autofocus></textarea>
       <br><br> <label><b>Коды (по одному в строке):</b></label><br>
        <textarea  name="codes" cols="30" rows="10" style="width:40%" required></textarea><br>
    <input type="submit" value="отправить" >
    <input name="url" type="hidden" value="{{ request.get_full_path }}">
    </form>
<div><a href="/account/allmsgs/"><b>Логи отправки</b></a></div><br></div>
    
    {% endif %}
</br></br></br></br></br></br></br></br></br></br>			{% endblock %}