$color-base: #4adcdc;
$color-second: #f7f7f7;

$color: #000;
$color-main: #fff;
$clr: #f3f3f3;
$clr-light: #e9e9e9;
$clr-lighter: #fcfcfc;
$clr-dark: #252525;
$clr-darkest: #292929;

$text: #292929;
$text-secondary: #6d6d6d;
$text-white: #fff;
$color-link: #4adcdc;
$text-clr-footer: #fff;

$font-family: "Roboto", sans-serif;
$font-family2: "BebasNeue", sans-serif;
$font-size: 15px;
$font-s-min: 12px;
$lineHeight: 125%;

$padding-btn: 13px 20px;
$height-btn: 46px;

$padding-input: 13px 17px;
$height-input: 46px;

$radius-base: 8px;
$radius-secondary: 5px;
$radius-third: 20px;
