{% extends 'account/base_register.html' %}
{% load static %}
{% block center-column %}
    <!-- Центральная колонка -->
    <div class="content-block-center">
        {% if not sent %}
        <form class="register-form style01" action="{% url "forgot" %}" method="post">
            {% csrf_token %}
            <div class="register-holder">
                <label for="text-field01">Для восстановления пароля введите адрес электронной почты:</label>
                <input class="text01" required="" id="text-field01" name="email" type="text" value="">
            </div>
            <div class="row">
                {{ error|safe }}
            </div>
            <div class="bottom">
                <div class="bottom-frame">
                    <div class="holder">
                        <div class="next-holder">
                            <a href="#" class="btn-next"
                               onclick="$(this).closest('form').submit();return false;">Восстановить</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% else %}
            <div class="row">
                На вашу почту было отправлено сообщение со ссылкой для восстановления пароля.
            </div>
        {% endif %}
    </div>
{% endblock %}
