{% extends "base.html" %}
{% load account_tags %}
{% block title_page %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% load staticfiles %}
{% block js_page %}
{% endblock %}
{% block after_header %}

{% endblock %}


{% block content %}

	<!-- {% for banner in banners1 %}
		{% url "banner_click" banner_id=banner.id key=group1.slug as banner_url1 %}
		<div style="display: flex; width: 100%; justify-content: center; border-top: 1px solid; border-bottom: 1px solid; margin: 30px 0;" >
			<a href="{{banner_url1}}">
				<img src="{{banner.img.url}}">
			</a>
		</div>
	{% endfor %} -->
    <!-- Центральная колонка -->

     {% if not sent %}
                           <form action="{% url "forgot" %}" class="registration__block" method="post">
				{% csrf_token %}
                            <div class="contact-page__row">

                                <div class="contact-page__right registration__right form-control__password">
                                    <input   id="text-field01" name="email" type="text" value="" class="form-control">
                                </div>
                                 <div class="title-5 registration__password-title" > Для восстановления пароля введите адрес электронной почты</div>
                                <div class="title-5 registration__password-title" style="color: red"> {{ error |safe }}</div>
                            </div>
                            <button type="submit" class="btn-default btn contact-page__btn" onclick="$(this).closest('form').submit();return false;">Восстановить</button>
                        </form>
 {% else %}
           <div class="title-5 registration__password-title" >
                На вашу почту было отправлено сообщение со ссылкой для восстановления пароля.
            </div>
        {% endif %}
{% endblock %}

{% block before_footer %}
{% endblock %}