{% extends "base.html" %}
{% load account_tags %}
{% block title_page %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% load staticfiles %}
{% block js_page %}
{% endblock %}
{% block after_header %}

{% endblock %}


{% block content %}

	<!-- {% for banner in banners1 %}
		{% url "banner_click" banner_id=banner.id key=group1.slug as banner_url1 %}
		<div style="display: flex; width: 100%; justify-content: center; border-top: 1px solid; border-bottom: 1px solid; margin: 30px 0;" >
			<a href="{{banner_url1}}">
				<img src="{{banner.img.url}}">
			</a>
		</div>
	{% endfor %} -->
    <!-- Центральная колонка -->
                           <form action="{% url "login" %}" class="registration__block" method="post">
			    {% csrf_token %}
                            <div class="contact-page__row">
                                <div class="contact-page__left">
                                    <div class="title-4">Введите email:</div>
                                </div>
                                <div class="contact-page__right registration__right form-control__password">
                                    <input   id="text-field01" name="login" type="text" value="" class="form-control">
                                </div>
                                 <div class="title-5 registration__password-title">Пароль должен содержать не менее 8 символов (большие и маленькие буквы и цифры)</div>
                            </div>
                            <div class="contact-page__row">
                                <div class="contact-page__left">
                                    <div class="title-4">Ваш пароль:</div>
                                </div>
                                <div class="contact-page__right registration__right form-control__password">
                                    <input id="password-field01" required="" type="password" name="password" value="" class="form-control ">
                                </div>
                                <div class="title-5 registration__password-title" style="color: red"> {{ error |safe }}</div>

                            </div>

                               <div class="contact-page__row">
                                <div class="contact-page__right">
                                    <div class="custom-checkbox">
                                         <input  class="form-group" type="checkbox" id="check_1"/>
                                        <label class="box-label" for="check_1">
                                                Запомнить меня
                                        </label>
                                    </div>
                                </div>
                            </div>
                        <div class="title-5 registration__password-title"><a href="{% url "forgot" %}" class="link">Забыли пароль?</a></div>
                                  <div class="title-5 registration__password-title">  <a href="{% url 'register1' %}" class="link">Зарегистрироваться</a></div>

                            <button type="submit" class="btn-default btn contact-page__btn" onclick="$(this).closest('form').submit();return false;">Войти</button>
                        </form>

{% endblock %}

{% block before_footer %}
{% endblock %}


