{% extends "base.html" %}
{% load account_tags %}
{% block title_page %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% load staticfiles %}
{% block js_page %}
{% endblock %}
{% block after_header %}

{% endblock %}


{% block content %}

	<!-- {% for banner in banners1 %}
		{% url "banner_click" banner_id=banner.id key=group1.slug as banner_url1 %}
		<div style="display: flex; width: 100%; justify-content: center; border-top: 1px solid; border-bottom: 1px solid; margin: 30px 0;" >
			<a href="{{banner_url1}}">
				<img src="{{banner.img.url}}">
			</a>
		</div>
	{% endfor %} -->

{{ register_form | safe }}

{% endblock %}

{% block before_footer %}
{% endblock %}
