{% load account_tags posts_filters %}{% load staticfiles %}
<div class="content-block-center-item">
    <!-- Автор и тема поста -->
    <div class="content-block-center-item-head">
	<div class="content-block-center-item-head-theme-left">
	<span>
	{% online %}
	</span>
	</div>
        {% if id != '3' %}
            <div class="content-block-center-item-head-photo-bg">
                {% if object.user_id.id %}
                    <a href="{% url 'lichnie2' object.user_id.id %}" target="_parent" title="На страницу автора">
                        <div class="content-block-center-item-head-photo"
                             style="background-image:url({% get_avatar_preview_sizexy object.user_id.id 67 67 %}), url({{ object.user_id.avatar }})"></div>
                    </a>
                {% endif %}
            </div>
            <div class="content-block-center-item-head-autor">
                {% if object.user_id.id %}
                    <span>
					<strong>
                        <a href="{% url 'lichnie2' object.user_id.id %}" target="_parent"
                           title="На страницу автора">{{ object.user_id.lastname }}<br/>
                            {{ object.user_id.firstname }} {{ object.user_id.surname }}
                        </a>
                    </strong><br/>
					{{ object.spec_id.name }}
				</span>
                {% endif %}
            </div>
        {% endif %}
        {% if circle and group %}
            <div class="content-block-center-item-head-theme"><span><a
                    href='{% url 'detailgroup' pk=group.id %}'>{{ group.title }}</a></span></div>
        {% else %}
            <div class="content-block-center-item-head-theme"><span>
                {% if is_group_user %}
                    {% if post_group_names %}
                        <a href="{% url 'detailgroup' post_group_urls|get_item:object.id %}">
                            {{ post_group_names|get_item:object.id }}
                        </a>
                    {% else %}
                        {{ object.group.title }}
                    {% endif %}
                {% else %}
                    {{ object.format_string }}
                {% endif %}</span></div>
        {% endif %}
        <!-- div class="content-block-center-item-head-theme" style="padding-right:40px; background-image:url({% static 'images/icons-preparats/2.png' %})"><span>{% if is_group_user %} {{ group.object.title }} {% else %}{{ object.format_string }}{% endif %}</span></div -->
    </div>
    <div class="content-block-center-item-content">
        <!-- Заголовки и текст поста -->
        <div class="content-block-center-item-content-date">{{ object.begindate|default:object.createdate }}</div>
        <h1 style="width:320px">
            {% if id == '3' %}
            <a href="{{ object.content|find:"/translation/.*?/" }}" target="_blank"
                                   style="color: rgb(0, 164, 153);text-decoration: none;">{{ object.title }}</a>
        {% else %}
            <a href="{% url 'detailpractice' object.id %}" target="_blank"
                                   style="color: rgb(0, 164, 153);text-decoration: none;">{{ object.title }}</a>
        {% endif %}
        </h1>
        {% if user.is_authenticated %}
            {% if object.anons %}
                {{ object.anons|truncatewords_html:50|safe|linebreaks }}
            {% else %}
                {{ object.content|truncatewords_html:50|safe|linebreaks }}
            {% endif %}
        {% else %}
            {% if object.anons %}
                {{ object.anons|truncatewords_html:15|striptags|linebreaks }}
            {% else %}
                {{ object.content|truncatewords_html:15|striptags|linebreaks }}
            {% endif %}
        {% endif %}
        <div class="content-block-center-item-content-redmore">
            <div class="content-block-center-item-content-redmore-link">
                 {% if id == '3' %}
                <a href="{{ object.content|find:"/translation/.*?/" }}" target="_blank" title="Читать полностью">читать
                    полностью</a> |
                      {% else %}
                                     <a href="{% url 'detailpractice' object.id %}" target="_blank" title="Читать полностью">читать
                    полностью</a> |
                {% endif %}

            </div>
            <div class="content-block-center-item-content-redmore-readers" style="{% if id == '3' %}display: none;{% endif %}">
                {% if object.statistics %}
                    {{ object.statistics.viewings }}
                {% else %}
                    0
                {% endif %}
            </div>

            {% if request.user == object.user_id and object.createdate|deletion_time_left %}
                <div class="content-block-center-item-content-redmore-adminedit">
                    <a href="#" class="delete_post" data-url="{% url 'rmpost' %}"
                          data-post="{{ object.id }}" data-type="{{ object.type }}">Удалить</a>
                </div>
            {% endif %}
            {% if user.is_staff %}
                <div class="content-block-center-item-content-redmore-adminedit">
                    <a href="{% url "admin:posts_posts_change" object.id %}">ред.</a>
                </div>
            {% endif %}
        </div>
        {% if object.photos|length or object.videos|length %}
            <!-- Медиа -->
            <div class="content-block-center-item-content-media">
                {% if object.photos|length %}
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("a[rel=tag{{object.id}}]").fancybox({
                                'transitionIn': 'none',
                                'transitionOut': 'none',
                                'titlePosition': 'over',
                                'titleFormat': function (title, currentArray, currentIndex, currentOpts) {
                                    return '<span id="fancybox-title-over">Фото ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                                }
                            });
                        });
                    </script>
                {% endif %}
                {% for photo in object.photos %}
                    {% if forloop.first %}
                        <div class="content-block-center-item-content-media-single-photo">
                            <a href="{{ photo.picture }}" rel="tag{{ object.id }}">
                                <img src="{% get_preview_calculate photo.picture %}" style="max-width:223px" alt="">
                            </a>
                        </div>
                    {% else %}
                        {% if forloop.counter = 2 %}
                            <div class="content-block-center-item-content-media-more-photo-head">
                                <span>Дополнительные фото:</span>
                            </div>
                            <div class="content-block-center-item-content-media-more-photo">
                        {% endif %}
                    <a rel="tag{{ object.id }}" href="{{ photo.picture }}">
                        <div class="content-block-center-item-content-media-more-photo-item"
                             style="background-image:url({{ photo.thumb }})"></div>
                    </a>
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                {% if object.videos|length %}
                    {% for video in object.videos %}
                        <div class="content-block-center-item-content-media-more-photo-head">
                            <span style="font-size: 12px;">Посмотреть видео:</span>
                        </div>
                        <div class="content-block-center-item-content-media-video">
                            <div class="content-block-center-item-content-media-video-move">
                                <a href="{% url 'detailpractice' object.id %}" target="_parent" title="">
                                    <img src="{{ video.preview }}" width="190" height="140" alt="">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        {% include "includes/read_all.html" %}
        {% include "includes/likes_comments.html" with viewname="detailpractice" %}
    </div>