{% load account_tags posts_filters %}{% load staticfiles %}


    {% if object.template == 'posts' %}
      {% url 'detailpractice' object.object.id as the_url %}
    {% endif %}
    {% if object.template == 'videos' %}
      {% url 'detailvideos' object.object.id as the_url %}
    {% endif %}
    {% if object.template == 'events' %}
      {% url 'detailevent' object.object.id as the_url %}
    {% endif %}
    {% if object.template == 'PGalleries' %}
      {% url 'galleries_detail' object.object.id as the_url %}
    {% endif %}
    {% if object.template == 'Records' %}
      {% url 'detailpractice' object.object.id as the_url %}
    {% endif %}
                    <div class="card__article">

                              <!-- Медиа -->
                        {% if object.object.photos|length or object.object.videos|length %}

                {% for photo in object.object.photos %}
                    {% if forloop.first %}
                                <a href="{{ the_url }}" class="card__article-img" style="background-image: url({{ photo.picture }});"></a>
                    {% endif %}
                {% endfor %}

                     {% endif %}

                        <div class="card__article-main">
                            <div class="card__article-header">
                                <a href="" class="card__article-type title-s-min">
                                    <div class="svg__wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="#video"></use>
                                        </svg>
                                    </div>
                                    <span>{{ object.object.format_string }}</span>
                                </a>

        {% if object.object.begindate == None %}
           <div class="card__article-data title-4"><span>{{ object.object.createdate }}</span></div>
        {% else %}
           <div class="card__article-data title-4"><span>{{ object.object.begindate }}</span></div>
        {% endif %}

                                <div class="card__article-icon title-4">
                                    <div class="svg__wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="#view"></use>
                                        </svg>
                                    </div>
                                    <span>
               {% if object.object.statistics %}
                    {{ object.object.statistics.viewings }}
                {% else %}
                    0
                {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    <!-- тема поста -->
                        <a href="{{ the_url }}" class="title-2 m-b-15">{{ object.object.title }}</a>

                     <!-- текст поста -->
                        <div class="title-4">
            {% if user.is_authenticated %}
                {% if object.object.content %}
                    {{ object.object.content|truncatewords_html:50|safe|linebreaks }}
                {% endif %}
            {% else %}
                {% if object.object.content %}
                    {{ object.object.content|truncatewords_html:15|safe|linebreaks }}
                {% endif %}
            {% endif %}
             <a href="{{ the_url }}" target="_blank" title="Читать полностью">читать полностью</a>
                        </div>



                         {% if id != '3' and object.object.user_id.id %}
                        <a href="{% url 'lichnie2' object.object.user_id.id %}" class="card-author">

                            <div class="card-author__circle bg-img-cover" style="background-image: url(/media/{{ object.object.user_id.avatar }});"></div>

                            <div class="title-5 font-weight">{{ object.object.user_id.lastname }} {{ object.object.user_id.firstname }} {{ object.object.user_id.surname }}</div>
                                {% endif %}
                        </a>
 </div>
            {% comment %}


         {% if request.user == object.object.user_id and object.object.createdate|deletion_time_left %}
                <div class="content-block-center-item-content-redmore-adminedit">
                    <a href="#" class="delete_post" data-url="{% url 'rmpost' %}"
                          data-post="{{ object.object.id }}" data-type="{{ object.object.type }}">Удалить</a>
                </div>
            {% endif %}
            {% if user.is_staff %}
                <div class="content-block-center-item-content-redmore-adminedit">
                    <a href="{% url "admin:posts_posts_change" object.object.id %}">ред.</a>
                </div>
            {% endif %}
        </div>
        {% include "includes/read_all2.html" with type='18' %}
        {% include "includes/likes_comments2.html" with viewname='detailpractice' %}

                    </div>

 {% endcomment %}