{% extends "base.html" %}
{% block title_page %}Наши партнеры{% endblock %}
{% block title %}Наши партнеры{% endblock %}{% load staticfiles %}
{% block js_page %}<script type="text/javascript" src="{% static 'js/detect.js' %}"></script>{% endblock %}
{% block top_block %}<div class="content-block-top-block-1-window-filter" id="window-filter">
			<div class="content-block-top-block-1-window-filter-content">

			</div>  
			<div class="content-block-top-block-1-window-filter-bottom">
				<input type="submit" id="save-filter" value="Сохранить параметры" class="form-key-7" />
			</div>
		</div>{% endblock %}
{% block content %}{{ partners.content|safe }}
{% endblock %}