@media screen and (min-width: 992px) {
  .magazines .main-slider .slick-list {
    overflow: visible;
  }
}

@media screen and (min-width: 992px) {
  .magazines .magazines__main-sliser-col {
    margin-bottom: -100px;
    position: relative;
    z-index: 10;
  }
}

.magazines .main-slider__items {
  margin-top: 65px;
}
