@import "../blocks/vars/vars.scss";
@import "../main/include-media";

.recommend__slider {
  @media screen and (min-width: 992px) {
    width: 100vw;

    .recommend__item {
      max-width: 570px;
    }
  }

  .slick-list {
    padding-bottom: 50px;
  }
}
