{% extends "base.html" %}
{% load account_tags %}
{% load tz %}
{% block title_page %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% load staticfiles %}
{% block js_page %}
<script type="text/javascript" src="{% static 'js/detect.js' %}"></script>
<script src="{% static 'js/jquery.form.min.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block after_header %}
{% include 'circle/header_circle.html' %}
{% endblock %}


{% block content %}

 <section class="row-block p-y">

                        <div class="personal-area__info">
                            <h1 class="title-1">Личные сообщения</h1>
                            <div class="tabs">

                                <div class="tabs-header">
                                    <div class="tabs-header__item active js-tab-trigger" data-tab="1">Сообщения <span>{% Unreaded user.id %}</span></div>
                                    <div class="tabs-header__item js-tab-trigger" data-tab="2">Доклады </div>
                                 {% comment %}   <div class="tabs-header__item js-tab-trigger" data-tab="3">Статьи </div> {% endcomment %}
                                </div>


                                <div class="tabs-content">
                                    <div class="tabs-content__item active js-tab-content" data-tab="1">
                                                  <form action="/circle/dialog/1" method="post">
						{% csrf_token %}
                                            <div class="conferense__comment-write">

						 <textarea name="text" autofocus class="form-control" type="text" placeholder="Написать сообщение администрации"></textarea>
					             <div class="conferense__comment-write-btn">
                                                    <button type="submit" class="btn conferense__comment-sent"></button>
                                                </div>
						<input name="authBid" type="hidden" value="1">
                                                    </div>
					</form></br>






                                    </div>
                                               <div class="title-1">Диалоги <span>(10)</span></div>




            {% for D in page_obj.object_list %}
	    	{% if D.authA != user and D.authA and D.authB %}
                  <div class="personal-area__dialog"id="dialog_{{ D.id }}">

                        <a target="_parent" href="{% url 'lichnie2' D.authA.id %}">
                             <div class="personal-area__message-avatar" style="background-image:url({% get_avatar_preview_sizexy D.authA.id 77 77 %}), url({{ D.authA.avatar }})"></div>

                        </a>

                   <div class="personal-area__message-header-name">
                        <div class="title-4 font-weight-bold">
                            <a href="{% url 'lichnie2' D.authA.id %}">{{ D.authA.lastname }} {{ D.authA.firstname }} {{ D.authA.surname }}</a> </div>
                            <div class="title-5">{{ D.authA.spec_id }} </div>
                   </br>
                       <div class="title-5"><i>{{ D.lastrecord }}</i> </div>
                       <a class="link01" href="{% url 'dialog' D.authA.id %}">{{ D.createdate }}<img src="

                                {% if D.lastrecord.auth == user %}{% static 'images/arrow01.png' %}{% else %}{% static 'images/arrow02.png' %}{% endif %}"
                                                                                                      width="11"
                                                                                                      height="7"
                                                                                                      alt="image description"></a>
                         </div>

                         <a href="{% url 'dialog' D.authA.id %}" class="link-mini  m-r-20">Написать личное сообщение</a>
                                <a href="" class="link-mini">Удалить</a>
                    </div>


            {% else %}
                {% if D.authA and D.authB %}
                  <div class="personal-area__dialog"id="dialog_{{ D.id }}">

                        <a target="_parent" href="{% url 'lichnie2' D.authA.id %}">
                             <div class="personal-area__message-avatar" style="background-image:url({% get_avatar_preview_sizexy D.authB.id 77 77 %}), url({{ D.authB.avatar }})"></div>

                        </a>

                   <div class="personal-area__message-header-name">
                        <div class="title-4 font-weight-bold">
                            <a href="{% url 'lichnie2' D.authB.id %}">{{ D.authB.lastname }} {{ D.authB.firstname }} {{ D.authB.surname }}</a> </div>
                            <div class="title-5">{{ D.authB.spec_id }} </div>
                                       </br>
                       <div class="title-5"><i>{{ D.lastrecord }}</i> </div>
                       <a class="link01" href="{% url 'dialog' D.authB.id %}">{{ D.createdate }}<img src="

                                {% if D.lastrecord.auth == user %}{% static 'images/arrow01.png' %}{% else %}{% static 'images/arrow02.png' %}{% endif %}"
                                                                                                      width="11"
                                                                                                      height="7"
                                                                                                      alt="image description"></a>
                         </div>

                         <a href="{% url 'dialog' D.authB.id %}" class="link-mini m-r-20">Написать личное сообщение</a>
                                <a href=""  onclick="if(confirm('Вы уверены что хотите удалить диалог с этим пользователем?')){removedialog({'dialogid':'{{ D.id }}'})}" class="link-mini">Удалить</a>
                    </div>


                {% endif %}
            {% endif %}
        {% endfor %}

                                    </div>


                                    <div class="tabs-content__item js-tab-content" data-tab="2">
                                      {% if all_msgs %}
                                            <div class="holder" id="dialog_admin">
                                                    <div class="content-block-center-item-head-photo-bg">
                                                        <a target="_parent" href="/circle/dialog/admin">
                                                            <div class="content-block-center-item-head-photo"
                                                                 style="background-image:url({% static 'images/mt.png' %})"></div>
                                                        </a>
                                                    </div>
                                                    <div class="description">
                                                        <h3>
                                                            <a href="/circle/dialog/admin">Администрация</a>
                                                           </h3>

                                                        <p class="text">{{ all_msgs.msgs | allmsgs_cut |last|safe|linebreaks }}</p>
                                                        <a class="link01" href="/circle/dialog/admin">
                                            {{ all_msgs.datetime | allmsgsdate_cut |last |timezone:"Europe/Moscow"}}
                                <img src="
                                                                {% static 'images/arrow01.png' %}"
                                                                                                  width="11"
                                                                                                  height="7"
                                                                                                  alt="image description"></a>


                                                    </div>
                                                    <div class="links">
                                                        <a href="/circle/dialog/admin" >Прочитать все сообщения</a>
                                                    </div>
                                                </div>
                                        {% endif %}
                                    </div>
                        </div>





        </section>

<script>
	function removedialog(senddata){
             $.get('/circle/removedialog/', senddata, function(data){
                    //alert(data);
                    location.reload();
							});

	};

    </script>

{% endblock %}

{% block before_footer %}
{% endblock %}
