{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load account_tags %}
{% block js_page %}
    <script type="text/javascript" src="{% static 'js/jquery.main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.min.js' %}"></script>
{% endblock %}
{% block title %}Диалоги{% endblock %}
{% block top_block %}
    <div class="content-block-top-block-1-window-filter" id="window-filter">
        <div class="content-block-top-block-1-window-filter-content"></div>
        <div class="content-block-top-block-1-window-filter-bottom">
            <input type="submit" id="save-filter" value="Сохранить параметры" class="form-key-7"/>
        </div>
    </div>
{% endblock %}
{% block content %}
    <!-- Центральная колонка -->
    <div class="groups-area">
        {% if all_msgs %}
            <div class="holder" id="dialog_admin">
                    <div class="content-block-center-item-head-photo-bg">
                        <a target="_parent" href="/circle/dialog/admin">
                            <div class="content-block-center-item-head-photo"
                                 style="background-image:url({% static 'images/mt.png' %})"></div>
                        </a>
                    </div>
                    <div class="description">
                        <h3>
                            <a href="/circle/dialog/admin">Администрация</a>
                           </h3>

                        <p class="text">{{ all_msgs.msgs | allmsgs_cut |last|safe|linebreaks }}</p>
                        <a class="link01" href="/circle/dialog/admin">
            {{ all_msgs.datetime | allmsgsdate_cut |last |timezone:"Europe/Moscow"}}
<img src="
                                {% static 'images/arrow01.png' %}"
                                                                  width="11"
                                                                  height="7"
                                                                  alt="image description"></a>


                    </div>
                    <div class="links">
                        {% AdmUnreaded_one user.id %}
                    </div>
                </div>
        {% endif %}
        {% for D in page_obj.object_list %}
	    	{% if D.authA != user and D.authA and D.authB %}
                <div class="holder" id="dialog_{{ D.id }}">
                    <div class="content-block-center-item-head-photo-bg">
                        <a target="_parent" href="{% url 'lichnie2' D.authA.id %}">
                            <div class="content-block-center-item-head-photo"
                                 style="background-image:url({% get_avatar_preview_sizexy D.authA.id 77 77 %}), url({{ D.authA.avatar }})"></div>
                        </a>
                    </div>
                    <div class="description">
                        <h3>
                            <a href="{% url 'lichnie2' D.authA.id %}">{{ D.authA.lastname }} {{ D.authA.firstname }} {{ D.authA.surname }}</a>
                            <em>{{ D.authA.spec_id }}</em></h3>

                        <p class="text">{{ D.lastrecord }}</p>
                        <a class="link01" href="{% url 'dialog' D.authA.id %}">{{ D.createdate }}<img src="

                                {% if D.lastrecord.auth == user %}{% static 'images/arrow01.png' %}{% else %}{% static 'images/arrow02.png' %}{% endif %}"
                                                                                                      width="11"
                                                                                                      height="7"
                                                                                                      alt="image description"></a>
                    </div>
                    <div class="links">
                        <a class="delete-group" style="cursor:pointer;"
                           onclick="if(confirm('Вы уверены что хотите удалить диалог с этим пользователем?')){Dajaxice.circle.removedialog(Dajax.process, {'dialogid':'{{ D.id }}'})}">Удалить
                            диалог</a>
                        {% Unreaded_one user.id D.id D.authA.id %}
                    </div>
                </div>
            {% else %}
                {% if D.authA and D.authB %}
                    <div class="holder" id="dialog_{{ D.id }}">

                        <div class="content-block-center-item-head-photo-bg">
                            <a target="_parent" href="{% url 'lichnie2' D.authB.id %}">
                                <div class="content-block-center-item-head-photo"
                                     style="background-image:url({% get_avatar_preview_sizexy D.authB.id 77 77 %}), url({{ D.authB.avatar }})"></div>
                            </a>
                        </div>

                        <div class="description">

                            <h3>
                                <a href="{% url 'lichnie2' D.authB.id %}">{{ D.authB.lastname }} {{ D.authB.firstname }} {{ D.authB.surname }}</a>
                                <em>{{ D.authB.spec_id }}</em></h3>

                            <p class="text">{{ D.lastrecord }}</p>

                            <a class="link01" href="{% url 'dialog' D.authB.id %}">{{ D.lastrecord.createdate }}<img
                                    src="

                                            {% if D.lastrecord.auth == user %}{% static 'images/arrow01.png' %}{% else %}{% static 'images/arrow02.png' %}{% endif %}"
                                    width="11" height="7" alt="image description"></a>

                        </div>
                        <div class="links">
                            <a class="delete-group" style="cursor:pointer;"
                               onclick="if(confirm('Вы уверены что хотите удалить диалог с этим пользователем?')){Dajaxice.circle.removedialog(Dajax.process, {'dialogid':'{{ D.id }}'})}">Удалить
                                диалог</a>

                            {% Unreaded_one user.id D.id D.authB.id %}

                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            Страницы:
            <span class="page-links">
                <span class="page-current">
                    {% for i in page_obj.paginator.page_range %}

                            <a href="/circle/alldialogs/?page={{ i }}">{{i}}</a>

                    {% endfor %}
                </span>
            </span>
        </div>
        {% endif %}

    </div>
{% endblock %}
