{% load staticfiles %}

        <section class="intro" style="background-image: url({% static '/new/images/bg/news.jpg' %});">
            <div class="container">
                <div class="my-row justify-content-between">
                    <div class="my-col-12 my-col-lg-8">
                        <h1 class="h1">Непрерывное медицинское образование</h1>
                        <div class="title-2 ">Новости для врачей и медицинские конференции в видеозаписи, а также медицинские ролики, репортажи, интервью </div>
                    </div>

                </div>

            </div>
        </section>