{% load account_tags posts_filters %}{% load staticfiles %}


                    <div class="personal-area__message">
                                <div class="personal-area__message-header">
                                {% if object.user_id.id %}
                                    <div class="personal-area__message-avatar" style="background-image: url({% get_avatar_preview_sizexy object.user_id.id 67 67 %}), url({{ object.user_id.avatar }});"></div>
                                    <div class="personal-area__message-header-name">
                                        <div class="title-4 font-weight-bold">{{ object.user_id.lastname }} {{ object.user_id.firstname }} {{ object.user_id.surname }}</div>
                                        <div class="title-5">{{ object.spec_id.name }}</div>
                                    </div>
                                     {% endif %}

                                    {% if circle and group %}
             <div class="title-4 font-weight-bold"><a
                    href='{% url 'detailvideos' pk=group.id %}'>{{ group.title }}</a></div>
        {% else %}
             <div class="title-4 font-weight-bold">
                {% if is_group_user %}
                    {% if post_group_names %}
                        <a href="{% url 'detailvideos' post_group_urls|get_item:object.id %}">
                            {{ post_group_names|get_item:object.id }}
                        </a>
                    {% else %}
                        {{ object.group.title }}
                    {% endif %}
                {% else %}
                    {{ object.format_string }}
                {% endif %}</div>
        {% endif %}

                                </div>
                                <div class="personal-area__message-main">
                                    <div class="personal-area__main-info">

                                        <div class="personal-area__data title-4"><span>{{ object.begindate|default:object.createdate }}</span></div>

                                        <div class="personal-area__icon title-4">
                                            <div class="svg__wrapper">
                                                <svg xmlns="http://www.w3.org/2000/svg">
                                                    <use xlink:href="#view"></use>
                                                </svg>
                                            </div>
                                            <span>        {% if object.statistics %}
                    {{ object.statistics.viewings }}
                {% else %}
                    0
                {% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="title-2 ">
                                        {% if id == '3' %}
            <a href="{{ object.content|find:"/translation/.*?/" }}" target="_blank"
                                   style="color: rgb(0, 164, 153);text-decoration: none;">{{ object.title }}</a>
        {% else %}
            <a href="{% url 'detailvideos' object.id %}" target="_blank"
                                   style="color: rgb(0, 164, 153);text-decoration: none;">{{ object.title }}</a>
        {% endif %}</div>
                                    <div class="title-5 m-y-15">        {% if user.is_authenticated %}
            {% if object.anons %}
                {{ object.anons|truncatewords_html:50|safe|linebreaks }}
            {% else %}
                {{ object.content|truncatewords_html:50|safe|linebreaks }}
            {% endif %}
        {% else %}
            {% if object.anons %}
                {{ object.anons|truncatewords_html:15|striptags|linebreaks }}
            {% else %}
                {{ object.content|truncatewords_html:15|striptags|linebreaks }}
            {% endif %}
        {% endif %}</div>

                                </div>
                                <div class="personal-area__message-footer">
                                      {% if id == '3' %}
                <a href="{{ object.content|find:"/translation/.*?/" }}" target="_blank" class="link-mini" title="Читать полностью">Читать
                    полностью</a>
                      {% else %}
                                     <a href="{% url 'detailvideos' object.id %}" target="_blank" class="link-mini" title="Читать полностью">Читать
                    полностью</a>
                {% endif %}

               {% if request.user == object.user_id and object.createdate|deletion_time_left %}
                    <a href="#" class="link-mini delete_post" data-url="{% url 'rmpost' %}"
                          data-post="{{ object.id }}" data-type="video">Удалить</a>
            {% endif %}
            {% if user.is_staff %}
                     <a href="{% url "admin:videos_videos_change" object.id %}">Редактировать</a>
            {% endif %}


                                </div>
                            </div>


