{% extends "base.html" %}{% load account_tags %}
{% block title_page %}Видео лекции для врачей и медицинские конференции в видеозаписи, а также медицинские ролики, репортажи, интервью{% endblock %}
{% block title %}Видео лекции для врачей и медицинские конференции в видеозаписи, а также медицинские ролики, репортажи, интервью{% endblock %}{% load staticfiles %}
{% block js_page %}
    <script type="text/javascript" src="{% static 'js/detect.js' %}"></script>
{% endblock %}
{% block top_block %}
    <div class="content-block-top-block-1-window-filter" id="window-filter">
        <div class="content-block-top-block-1-window-filter-content">
            <div class="content-block-top-block-1-window-filter-content-left">
                <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                    <input id="checkbox-1" type="checkbox" name="Видео" uri="/videos" value="Все" checked hidden/>
                    <label for="checkbox-1">Все</label>
                </div>
                {% for id, name in global_formats.video.items %}
                    {% if id %}
                        <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                            <input id="checkbox-{{ forloop.counter }}" type="checkbox" name="{{ id }}"
                                   value="{{ name }}" hidden/>
                            <label for="checkbox-{{ forloop.counter }}">{{ name }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="content-block-top-block-1-window-filter-content-right">
                <div class="content-block-top-block-1-window-filter-content-right-text">
                    Воспользуйтесь списком,<br/>
                    для того чтобы выбрать<br/>
                    нужную Вам специальность<br/>
                    материалов в ленте
                </div>
                <div class="content-block-top-block-1-window-filter-content-right-list">
                    <div class="content-block-top-block-1-window-filter-content-right-list-all-item" id="list-first">
                    </div>
                    <div class="filter-scroll content-block-top-block-1-window-filter-content-right-list-all"
                         id="filter-scroll">
                        <div class="filter-scroll-item" id="list-"><span>Все специальности</span></div>
                        {% for speciality in specialities_list %}
                            <div class="filter-scroll-item" id="list-{{ speciality.id }}">
                                <span>{{ speciality.name }}</span>
                            </div>{% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block-top-block-1-window-filter-bottom">
            <input type="submit" id="save-filter" value="Сохранить параметры" class="form-key-7"/>
        </div>
    </div>
    <div class="content-block-top-block-1">
        <span>Фильтр ленты публикаций:</span>

        <div class="content-block-top-block-1-filed" title="Изменить фильтр публикаций" id="filter">
            <div class="content-block-top-block-1-filed-arrow"></div>
            <input type="text" name="filter" id="filter-value" class="form-filed-8"/>
        </div>
    </div>
    <div class="content-block-top-separator"></div>
    <div class="content-block-top-block-2">
        <span>Поиск по слову:</span>

        <form class="content-block-top-block-2-filed">
            <div class="content-block-top-block-1-filed-search" title="Начать поиск"></div>
            <input type="text" name="search" class="form-filed-9" placeholder="Что ищем?"
                   value="{{ search|default:'' }}"/>
        </form>
    </div>
    <div class="content-block-top-separator"></div><div class="quick_urls" style="top: 140px; position: absolute; padding: 5px;">
            <div class="quick_url"><a href="/groups/305/">Информация для менеджеров</a></div>
            <div class="quick_url"><a href="/contacts">Контакты</a></div>
        </div>{% endblock %}
{% block filter_content %}
    {% if user.is_staff %}<!-- Создание поста -->
        <div class="content-block-center-write-contaner">
            <div class="content-block-center-write" title="Добавить видеоматериал">
                <span>Добавить видеоматериал</span>
            </div>
            <div class="content-block-center-write-form">
                <div class="content-block-center-write-form-close" title="Закрыть форму"></div>
                <div class="content-block-center-write-form-block-1">
                    <div class="content-block-center-write-form-block-1-left">
                        <div class="content-block-center-write-form-block-1-left-block-1">
                            <div class="content-block-center-write-form-block-1-left-block-1-left">
                                <span>Выберите тип видеоматериала:</span>
                            </div>
                            <div class="content-block-center-write-form-block-1-left-block-1-right">
                                <select name="type" id="post-filed-1" class="default form-filed-10">
                                    {% for id, name in global_formats.video.items %}
                                        <option type_id="{{ id }}"
                                                value="{% if id %}{{ name }}{% endif %}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="content-block-center-write-form-block-1-left-block-2" id="post-rubric">
                        </div>
                        <div class="content-block-center-write-form-block-1-left-block-3">
                            <div class="content-block-center-write-form-block-1-left-block-3-left">
                                <span>Выберите специальность:</span>
                            </div>
                            <div class="content-block-center-write-form-block-1-left-block-3-right">
                                <select name="spec_id" class="default form-filed-11">
                                    <option value="0">Выберите специальность</option>
                                    {% for speciality in specialities_list %}
                                        <option value="{{ speciality.id }}">{{ speciality.name }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="content-block-center-write-form-block-1-left-block-4">
                            <input type="text" name="title" class="form-filed-12" placeholder="Введите заголовок"/>
                        </div>
                        <div class="content-block-center-write-form-block-1-left-block-5">
                            <textarea id="description" name="description" class="form-filed-13"
                                      onFocus="if (this.value == 'Введите текст') {this.value = '';}"
                                      onBlur="if (this.value == '') {this.value = 'Введите текст';}">Введите
                                текст</textarea>
                        </div>
                        <div class="content-block-center-write-form-block-1-left-block-3">
                            <div class="content-block-center-write-form-block-1-left-block-3-left">
                                <span>Публиковать на главной?</span>
                            </div>
                            <div class="content-block-center-write-form-block-1-left-block-3-right">
                                <input type="checkbox" name="public_main" style="margin-top:7px;"/>
                            </div>
                        </div>
                    </div>
                    {% if not user.is_staff %}
                    <div class="content-block-center-write-form-block-1-right">
                        <div class="content-block-center-write-form-block-1-right-photo"
                             style="background-image:url({% static 'images/present/1.jpg)' %}"></div>
                        <p><strong>Поделитесь<br/>
                            клиническим<br/>
                            опытом с коллегами</strong></p>

                        <p>По итогам месяца автор публикации, понравившейся наибольшему количеству коллег, получит
                            подарок.</p>
                    </div>
                    {% endif %}
                </div>
                <div class="content-block-center-write-form-block-2">
                    <div class="content-block-center-write-form-block-2-left">
                        <div class="content-block-center-write-form-block-2-left-photolink">
                            <input id="file" type="file" name="file" class="form-filed-4 default"/>
                        </div>
                        <div class="content-block-center-write-form-block-2-left-videolink">
                            <input type="text" name="links-video" id="links_video" class="form-filed-4 default"
                                   style="padding-top:2px; padding-bottom:2px;"
                                   placeholder="Введите ссылку на видео в это поле"
                                   onfocus="if (this.value == '') {$('#key-2-2').fadeIn();$('#key-2-1').fadeOut();}"
                                   onblur="if (this.value == '') {$('#key-2-1').fadeIn();$('#key-2-2').fadeOut();}"/>
                            <input type="submit" value="OK" class="form-key-4" id="key-2-1" onclick="if($('#links_video').val()==''){$('div.content-block-center-write-form-block-2-left-videolink').fadeOut();}return false;"
                                   style="height:21px;"/>
                            <input type="submit" value="OK" class="form-key-5" id="key-2-2" style="height:21px;"
                                   onClick="$('div.content-block-center-write-form-block-2-left-videolink').fadeOut();if($('#links_video').val()!=''){addvideo();$('#key-2-1').fadeIn();$('#key-2-2').fadeOut();}return false;"/>
                        </div>
                        <div class="content-block-center-write-form-block-2-left-photo-container">
                            <div class="content-block-center-write-form-block-2-left-photo">
                <span title="Добавить фото" id="upload-file"
                      onClick1="$('div.content-block-center-write-form-block-2-left-photolink').fadeIn();">Добавить фото</span>
                            </div>
                        </div>
                        <div class="content-block-center-write-form-block-2-left-video-container">
                            <div class="content-block-center-write-form-block-2-left-video">
                <span title="Добавить видео"
                      onClick="$('div.content-block-center-write-form-block-2-left-videolink').fadeIn();">Добавить видео</span>
                            </div>
                        </div>

                    </div>
                    <div class="content-block-center-write-form-block-2-right">
                        <input type="submit" value="Опубликовать" class="form-key-3" id="addvideo"/>
                    </div>
                </div>
            </div>
        </div>{% endif %}{% endblock %}
{% block content %}
    {% for object in object_list %}
        {% include 'videos/one_videos2.html' %}
    {% endfor %}
    <script>
    function SendComment(result_id, form_id, url) {
        if($(this).data('locked') == 1){
            return false;
        }
        var form = $(this);
        var text = jQuery("#" + form_id).children(".form-filed-3").val();
        if (text.trim() == '') {
            alert('Комментарий не может быть пустым');
        } else {
            $(this).data('locked', 1);
            jQuery.ajax({
                url: url, //Адрес подгружаемой страницы
                type: "POST", //Тип запроса
                dataType: "html", //Тип данных
                data: jQuery("#" + form_id).serialize(),
                success: function (response) { //Если все нормально
                    $(this).data('locked', 0);
                    document.getElementById(result_id).innerHTML = response;
                },
                error: function (response) { //Если ошибка
                    $(this).data('locked', 0);
                    document.getElementById(result_id).innerHTML = "Ошибка при отправке формы";
                }
            });
        }
    }

    function SendLike(id, service_id, id_result) {
        jQuery.ajax({
            url: 'https://vrachivmeste.ru/likes/', //Адрес подгружаемой страницы
            type: 'get', //Тип запроса
            data: {'id': id, 'service_id': 10, 'user_id':{{ user.id }} },
            success: function (response) { //Если все нормально
                document.getElementById(id_result).innerHTML = response;
            },
            error: function (response) { //Если ошибка
                alert("Ошибка");
            }
        });
    }

    //var thisPageNum = 2;
    var thisWork = 1;
    //var filtr = '';
    function getNextP() {

        if (thisWork == 1) {
            thisWork = 0;
            //$("#upBlock").css('display','block');
            //if (filtr!=''){filtr = filtr + "&page="+thisPageNum;}else{filtr = "?page="+thisPageNum;}
            if(!spec_id) {
                $("#specs_form ul li a.active").each(function() {
                    spec_id = $(this).attr('rel');
                });
            }
            $.ajax({
                type: 'get',
                url: "/videos/",
                data: {'page': thisPageNum, 'spec_id': spec_id, 'format': format.join(), 'search': $('input[name="search"]').val()},
                success: function (data) {
                    //$("#upBlock").css('display','none');
                    //$(".content-block-center").html($(".content-block-center").html()+" "+data);
                    $(data).appendTo(".content-block-center");
                    thisPageNum = thisPageNum + 1;
                    thisWork = 1;
                }
            });
        }
    }

    //$(document).ready(function(){

    var scrH = $(window).height();
    var scrHP = $(".content-block-center").height();

    $(window).scroll(function () {
        var scro = $(this).scrollTop();
        var scrHP = $(".content-block-center").height();
        var scrH2 = 0;
        scrH2 = scrH + scro;
        var leftH = scrHP - scrH2;

        if (leftH < 300) {
            getNextP();
        }
    });
    //});
    $('#addvideo').click(function () {

        var dict = {};
        var photo = {};
        var video = {};
        dict['photo'] = photo;
        dict['video'] = video;
        jQuery.each($('.content-block-center-write-form-block-2-left-photo-list'), function (i) {
            child = $(this).children()[0];
            photo[ i ] = $(child).attr('file');
        });
        jQuery.each($('.content-block-center-write-form-block-2-left-video-list'), function (i) {
            child = $(this).children()[0];
            video[ i ] = $(child).attr('file');
        });
        dict['type'] = $('#post-filed-1 option:selected').attr('type_id');
        dict['spec_id'] = $('select[name="spec_id"]').val();
        dict['title'] = $('input[name="title"]').val();
        dict['public_main'] = $('input[name="public_main"]').prop("checked");
        dict['description'] = tinyMCE.get('description').getContent().replace('\n', '');
        var errortext = "";
        if (dict['type'] == '0') {
            errortext = errortext + "Выберите тип видеоматериала\n";
        }
        if (dict['spec_id'] == '0') {
            errortext = errortext + "Выберите специальность\n";
        }
        if (dict['title'] == '' || dict['title'] == 'Введите заголовок') {
            errortext = errortext + "Введите заголовок\n";
        }
        if (dict['description'].replace(/<p>(Введите текст|&nbsp;| )*<\/p>/g, '').trim() == '') {
            errortext = errortext + "Введите описание\n";
        }
        if (errortext == "") {
            showLoader(true);
            jQuery.ajax({
                url: '/videos/add/',
                type: "POST",
                dataType: "json",
                data: {
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    data: dict
                },
                success: function (response) {
                    showLoader(false)
                    if (response.result == true) {
                        alert("Материал добавлен");
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (response) {
                    alert("Ошибка при отправке формы");
                }
            }, "json");

        } else {
            alert('Вы допустили ошибки:\n\r' + errortext);
        }
    });

    $(document).ready(function () {

        var image_index = 1;

        function progressHandlingFunction(e) {
            if (e.lengthComputable) {
                $('progress').attr({value: e.loaded, max: e.total});
                $('.bar').css('width', (e.loaded / e.total) * 100);
            }
        }

        //$('#preloader').hide();
        $('#upload-file').click(function () {
            $("#file").trigger('click');
        });
        $('#file').bind('change', function () {
            $('div.content-block-center-write-form-block-2-left-photolink').fadeOut();
            var data = new FormData();
            var error = '';
            jQuery.each($('#file')[0].files, function (i, file) {

                if (file.name.length < 1) {
                    error = error + ' Файл имеет неправильный размер! ';
                }
                if (file.size > 10000000) {
                    error = error + ' File ' + file.name + ' is to big.';
                }
                if (file.type != 'image/png' && file.type != 'image/jpg' && file.type != 'image/gif' && file.type != 'image/jpeg') {
                    error = error + 'File  ' + file.name + '  doesnt match png, jpg or gif';
                }

                data.append('file', file); //-'+i, file);

            });

            if (error != '') {
                alert(error);
            } else {

                $.ajax({
                    url: '{% url "lenta.views.fileupload" %}',
                    type: 'POST',
                    xhr: function () {
                        var myXhr = $.ajaxSettings.xhr();
                        if (myXhr.upload) { // проверка что осуществляется upload
                            myXhr.upload.addEventListener('progress', progressHandlingFunction, false); //передача в функцию значений
                            //myXhr.upload.addEventListener($('.bar'),progressHandlingFunction, false);
                        }
                        return myXhr;
                    },
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,

                    beforeSend: function () {
                        $('\
                    <div class="content-block-center-write-form-block-2-left-photo-list-download">\
                    <div class="progress">\
                    <div class="bar"></div>\
                    </div>\
                    </div>').appendTo('.content-block-center-write-form-block-2-left-photo-container');
                        var percentVal = '0%';
                        $('.bar').css('width', percentVal);
                    },

                    success: function (data) {
                        var percentVal = '100%';
                        $('.bar').css('width', percentVal);
                    },
                    error: errorHandler = function () {
                        alert('Ошибка загрузки файлов')
                        $('#info').html('Ошибка загрузки файлов');
                    },
                    complete: function (xhr) {
                        responseText = JSON.parse(xhr.responseText);
                        if (!responseText.result) {
                          alert('Ошибка загрузки файлов');
                        } else {
                          $('.content-block-center-write-form-block-2-left-photo-container').append(
                                  '<div class="content-block-center-write-form-block-2-left-photo-list">\
                                            <div file="' + responseText.file + '" class="content-block-center-write-form-block-2-left-photo-list-prev" style="background-image:url(' + responseText.url + ')"></div>\
                        <span>Фото №' + (image_index++) + '</span>\
                        <div class="content-block-center-write-form-block-2-left-photo-list-del" title="Удалить фото" onclick="deletephoto(\'' + responseText.url + '\', this);"></div>\
                    </div>');
                          $('.content-block-center-write-form-block-2-left-photo-list-download').remove();
                        }
                    }
                });

            }
        })
        $('#checkbox-1').prop('checked', false);


        $("#specs_form ul li a").click(function(e) {
            e.preventDefault();

{#            // multi value filter deactivated#}
{#            if($(this).is('.active')) {#}
{#                $(this).removeClass('active');#}
{#            } else {#}
{#                $(this).addClass('active');#}
{#            }#}
{#            var specs = [];#}
{#            $("#specs_form ul li a.active").each(function() {#}
{#                specs.push($(this).attr('rel'));#}
{#            });#}
{#            $("#specs_form_input").val(specs.join(','));#}
            var val = $(this).attr('rel');
            if(val == 'all') {
                $("#specs_form_input").remove();
            } else {
                $("#specs_form_input").val(val);
            }
            $("#specs_form").submit();
        });

    });
    function deletephoto(photo, el) {
        $.post('{% url "lenta.views.filedelete" %}', { file: photo }, function (data) {
            if (data == 'OK') {
                parent = $(el).parent('.content-block-center-write-form-block-2-left-photo-list');
                parent.remove();
            }
        });
    }

    function addvideo() {
        if ($('input[name="links-video"]').val()) {
            $.post('/lenta/videoupload/', { video: $('input[name="links-video"]').val() }, function (data) {
                html =
                        '<div class="content-block-center-write-form-block-2-left-video-list">\
                         <div file="' + data.file + '" class="content-block-center-write-form-block-2-left-video-list-prev" style="background-image:url(' + data.furl + ')"></div>\
                 <div class="content-block-center-write-form-block-2-left-video-list-gradient"></div>\
                 <span>' + data.title + '</span>\
                 <div class="content-block-center-write-form-block-2-left-video-list-del" title="Удалить видео" onclick="deletevideo(\'' + data.path + '\', this);"></div>\
                 </div>';
                if('result' in data && data['result']) {
                    $(html).appendTo('.content-block-center-write-form-block-2-left-video-container');
                    $('.content-block-center-write-form-block-2-left-videolink').css('display', 'none');
                } else {
                    alert("Ошибка! Неправильная ссылка на видео!");
                }
            }, "json");
        }
    }

    function deletevideo(path, el) {
        $.post('{% url "lenta.views.videodelete" %}', { video: path }, function (data) {
            if (data == 'OK') {
                parent = $(el).parent('.content-block-center-write-form-block-2-left-video-list');
                parent.remove();
            }
        });
    }
    </script>{% endblock %}

{% block right_block %}
    <div class="content-block-right-specs">
        <h2>Темы видео</h2>

        <form action="" method="get" id="specs_form">
        <ul>
            <li><a href="" rel="all" {% if not spec_filter %}class="active"{% endif %}>Все</a></li>
            {% for spec in current_videos_specs %}
                <li><a href="" rel="{{ spec.pk }}" {% if spec.pk|stringformat:"s" in spec_filter %}class="active"{% endif %}>{{ spec.name }}</a></li>
            {% endfor %}
        </ul>
            <input type='hidden' name='spec_id' value='{{ spec_filter|join:',' }}' id="specs_form_input" />
{#            <input type='hidden' name='spec_id' id="specs_form_input" />#}
        </form>
    </div>
    {{ block.super }}
{% endblock %}
