.bg-color-base {
  background-color: #4adcdc !important;
}

.bg-color-second {
  background-color: #f7f7f7 !important;
}

.bg-clr {
  background-color: #f3f3f3 !important;
}

.bg-clr-light {
  background-color: #e9e9e9 !important;
}

.bg-clr-dark {
  background-color: #252525 !important;
}

.bg-clr-transparent {
  background-color: transparent !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-clr-dark .title,
.bg-clr-dark .title-1,
.bg-clr-dark .title-2,
.bg-clr-dark .title-3,
.bg-clr-dark .title-4,
.bg-clr-dark .title-5,
.bg-clr-dark .title-6,
.bg-clr-dark .title-7,
.bg-clr-dark .title-8,
.bg-clr-dark .title-p,
.bg-clr-dark .n-title,
.bg-clr-dark span,
.bg-color-base .title,
.bg-color-base .title-1,
.bg-color-base .title-2,
.bg-color-base .title-3,
.bg-color-base .title-4,
.bg-color-base .title-5,
.bg-color-base .title-6,
.bg-color-base .title-7,
.bg-color-base .title-8,
.bg-color-base .title-p,
.bg-color-base .n-title,
.bg-color-base span {
  color: #fff !important;
}
