@charset "UTF-8";
@media screen and (max-width: 767px) {
  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
    min-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin: 0 -15px -10px;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    scrollbar-base-color: #4adcdc;
    scrollbar-3dlight-color: #4adcdc;
    scrollbar-highlight-color: #4adcdc;
    scrollbar-track-color: #4adcdc;
    scrollbar-arrow-color: #f7f7f7;
    scrollbar-shadow-color: #4adcdc;
  }
  .scrollmenu ::-webkit-scrollbar {
    width: 0 !important;
    /* ширина для вертикального скролла */
    height: 0 !important;
    /* высота для горизонтального скролла */
    background-color: transparent !important;
  }
  .scrollmenu ::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 transparent !important;
            box-shadow: 0 transparent !important;
    width: 0px !important;
  }
}

@media screen and (max-width: 767px) and (min-width: 577px) {
  .scrollmenu :first-child a {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .scrollmenu li {
    display: inline-block;
  }
}

::-webkit-scrollbar {
  width: 6px !important;
  /* ширина для вертикального скролла */
  height: 2px;
  /* высота для горизонтального скролла */
}

::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  -webkit-box-shadow: 0 transparent !important;
          box-shadow: 0 transparent !important;
  width: 6px !important;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: transparent !important;
  background-color: transparent !important;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: transparent !important;
  background-color: transparent !important;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: transparent !important;
  background-color: transparent !important;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: transparent !important;
  background-color: transparent !important;
}
