@import "../vars/vars.scss";
@import "../../main/include-media";

.table-block {
  overflow: auto;
  table {
    width: 100%;

    th {
      background-color: $clr-light;
      padding: 12px 20px;
      border-right: 1px solid $clr-light;
      border-bottom: 1px solid $clr-light;
      margin: 0;
      @media screen and (max-width: 991px) {
        font-size: $font-size - 2px;
        padding: 12px 25px 12px 12px;
      }
    }
    tr {
      position: relative;
      z-index: 0;
      overflow: hidden;
      font-size: $font-size;
      height: auto;

      &:last-child {
        border-bottom: 0;
        td {
          border-bottom: 0;
        }
      }

      @media screen and (max-width: 991px) {
        font-size: $font-size - 2px;
      }
    }
    td {
      margin: 0;
      height: 100%;
      padding: 12px 21px;
      border-right: 1px solid $clr-light;
      border-bottom: 1px solid $clr-light;

      @media screen and (max-width: 991px) {
        font-size: $font-size - 2px;
        padding: 12px;
      }
      &:last-child {
        border-right: 0;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e6dad8;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.2s linear;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
        a {
          color: $text-secondary !important;
        }
        color: $text-secondary !important;
      }
      .title-4,
      .personal-area__info-link {
        max-width: 200px;
        height: 100%;
      }
    }
  }
}

.table-block_part2 {
  td {
    padding: 12px 21px;
    border-right: 1px solid $clr-light;
    border-bottom: 1px solid $clr-light;
    vertical-align: top;
    &:first-child {
      display: flex;
    }
    &::before {
      display: none;
    }
  }
}
