.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 575px) {
  .container {
    padding: 0 10px;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
