{% load account_tags %}{% load staticfiles %}
				<div class="content-block-center-write-form">
				<div class="content-block-center-write-form-close" title="Закрыть форму"></div>
				<div class="content-block-center-write-form-block-1">
					<div class="content-block-center-write-form-block-1-left">
						<div class="content-block-center-write-form-block-1-left-block-1">
							<div class="content-block-center-write-form-block-1-left-block-1-left">
								<span>Выберите рубрику:</span>
							</div>
							<div class="content-block-center-write-form-block-1-left-block-1-right">
								<select name="post-filed-1" id="post-filed-1" class="default form-filed-10">
									<option value="Он-лайн консультация" type_id="3" service="0">Он-лайн консультация</option>

								</select>
							</div>
						</div>
						<div class="content-block-center-write-form-block-1-left-block-2" id="post-rubric">
						</div>
						<div class="content-block-center-write-form-block-1-left-block-3">
							<div class="content-block-center-write-form-block-1-left-block-3-left">
								<span>Выберите специальность:</span>
							</div>
							<div class="content-block-center-write-form-block-1-left-block-3-right">
								<select name="spec_id"  class="default form-filed-11">
									<option value="0">Выберите специальность</option>
									{% for speciality in specialities_list %}<option value="{{ speciality.id }}">{{ speciality.name }}</option>{% endfor %}
								</select>
							</div>							
						</div>
						<div class="content-block-center-write-form-block-1-left-block-4">
							<input type="text" name="title" class="form-filed-12" placeholder="Введите заголовок"/>
						</div>
						<div class="content-block-center-write-form-block-1-left-block-4">
							<input type="text" name="begindate" class="form-filed-12" placeholder="Опубликовать в гггг-мм-дд чч:мм:cc"/>
						</div>
						<div class="content-block-center-write-form-block-1-left-block-5">
							<textarea {% if user.is_staff %}id="description"{% else %}id="description1"{% endif  %}   name="description" class="form-filed-13" onFocus="if (this.value == 'Введите текст') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Введите текст';}" width="335px">Введите текст</textarea>
						</div>
						
					</div>
					{% if not user.is_staff %}
					<div class="content-block-center-write-form-block-1-right">
						<div class="content-block-center-write-form-block-1-right-photo" style="background-image:url({% static 'images/present/2.jpg' %})"></div>
						<p><strong>Поделитесь клиническим опытом, медицинской новостью, научной статьей, частным мнением с коллегами на Главной ленте "Врачи Вместе"</strong></p>
					</div>{% endif %}
				</div>{% csrf_token %}
				<div class="content-block-center-write-form-block-2">
					<div class="content-block-center-write-form-block-2-left">
										<!--style>
											.bar { 
												background-color: #E1523D; 
												width:0%; 
												height:10px; 
												border-radius: 3px; 
											}
										</style-->
						<div class="content-block-center-write-form-block-2-left-photolink">
							<input id="file" type="file" name="file" class="form-filed-4 default" /> <!-- value="Введите ссылку на фотографию в это поле" onfocus="if (this.value == 'Введите ссылку на фотографию в это поле') {this.value = '';$('#key-1-2').fadeIn();$('#key-1-1').fadeOut();}" onblur="if (this.value == '') {this.value = 'Введите ссылку на фотографию в это поле';$('#key-1-1').fadeIn();$('#key-1-2').fadeOut();}" /-->
							<!--input type="submit" value="OK" class="form-key-4" id="key-1-1" disabled style="height:21px;" />
							<input type="submit" value="OK" class="form-key-5" id="key-1-2" style="height:21px;" onClick="$('div.content-block-center-write-form-block-2-left-photolink').fadeOut();$('#key-1-1').fadeIn();$('#key-1-2').fadeOut();$('#links-photo').val('')" /-->
						</div>
						<div class="content-block-center-write-form-block-2-left-videolink">
                            <input type="text" name="links-video" id="links_video" class="form-filed-4 default"
                                   style="padding-top:2px; padding-bottom:2px;"
                                   placeholder="Введите ссылку на видео в это поле"
                                   onfocus="if (this.value == '') {$('#key-2-2').fadeIn();$('#key-2-1').fadeOut();}"
                                   onblur="if (this.value == '') {$('#key-2-1').fadeIn();$('#key-2-2').fadeOut();}"/>
                            <input type="submit" value="OK" class="form-key-4" id="key-2-1" onclick="if($('#links_video').val()==''){$('div.content-block-center-write-form-block-2-left-videolink').fadeOut();}return false;"
                                   style="height:21px;"/>
                            <input type="submit" value="OK" class="form-key-5" id="key-2-2" style="height:21px;"
                                   onClick="$('div.content-block-center-write-form-block-2-left-videolink').fadeOut();if($('#links_video').val()!=''){addvideo();$('#key-2-1').fadeIn();$('#key-2-2').fadeOut();}return false;"/>
                        </div>
                        
						<div class="content-block-center-write-form-block-2-left-separator">
							<div class="content-block-center-write-form-block-2-left-photo-container">
								<div class="content-block-center-write-form-block-2-left-photo">
									<span title="Добавить фото" id="upload-file" onClick1="$('div.content-block-center-write-form-block-2-left-photolink').fadeIn();">Добавить фото</span>
								</div>
							</div>
							<div class="content-block-center-write-form-block-2-left-video-container">
								<div class="content-block-center-write-form-block-2-left-video">
									<span title="Добавить видео" onClick="$('div.content-block-center-write-form-block-2-left-videolink').fadeIn();">Добавить видео</span>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block-center-write-form-block-2-right">
						<input type="submit" value="Опубликовать" class="form-key-3" id="addpost" />
					</div>
				</div>
				</div>

