.row-block__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.row-block__filter-btn {
  min-height: 40px;
  padding: 0;
}

.row-block__filter-btn .row-block__filter-svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #f3f3f3;
  border-radius: 8px;
  background-image: url("/images/icon/filter.svg");
  background-size: 14px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.row-block__filter-btn .row-block__filter-text {
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 12px;
  color: #292929;
  margin-left: 15px;
}
