{% extends "base.html" %}
{% block title_page %}{{ object.title }}{% endblock %}
{% block title %}Лента группы "{{ object.title }}"{% endblock %}{% load staticfiles %}{% load account_tags %}

{% block js_page %}
    <script type="text/javascript" src="{% static 'js/detect.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.min.js' %}"></script>
{% endblock %}
{% block top_block %}
    <div class="content-block-top-block-2">
        <span>Поиск по слову:</span>

        <form class="content-block-top-block-2-filed">
            <div class="content-block-top-block-1-filed-search" title="Начать поиск"></div>
            <input type="text" name="search" class="form-filed-9" placeholder="Что ищем?"
                   value="{{ search|default:'' }}"/>
        </form>
    </div>
    <div class="content-block-top-separator"></div>
{% endblock %}

{% block filter_content %}
    <div class="info-area">
        <div class="holder">
        {% if object.user_id %}
            <style>
              #upload-file-container {
                background-image: url({% if object.image %}{{ object.image }}{% else %}{% get_preview_sizexy 'group_images/'|add:object.image 165 165 %}{% endif %});
                margin-bottom: 10px;
                cursor: pointer;
                width: 165px;
                height: 165px;
                -moz-background-size:160px auto;
                background-size:160px auto;
                background-repeat: no-repeat;
              }

              #upload-file-container input {
                filter: alpha(opacity=0);
                opacity: 0;
              }

              .bar {
                background-color: #E1523D;
                width: 0%;
                height: 10px;
                border-radius: 3px;
              }
            </style>
            <div class="block">
            <a href="{% url 'lichnie2' object.user_id.id %}">
                <div alt="image description"></div>
            </a>

            {% if object.user_id.id == user.id %}
                <script>
                    var trigger = true;
                    $(document).ready(function () {
                        $('#upload-file-container').wrap('<form id="avatar-upload" action="{% url "groups.views.avatarupload" sizex='180' sizey='180' groupid=object.id %}" method="post" enctype="multipart/form-data"></form>');
                        $('#upload-file-container').click(function () {
                            if (trigger) {
                              trigger = false;
                              $("#id_picture").trigger('click');
                            }
                        });
                        $('#avatar-upload').ajaxForm({
                            beforeSend: function () {
                                var percentVal = '10%';
                                $('.bar').css('width', percentVal);
                            },
                            uploadProgress: function (event, position, total, percentComplete) {
                                var percentVal = percentComplete + '%';
                                $('.bar').css('width', percentVal);
                            },
                            success: function () {
                                var percentVal = '100%';
                                $('.bar').css('width', percentVal);
                            },
                            complete: function (xhr) {
                                responseText = JSON.parse(xhr.responseText)
                                $('#upload-file-container').css('background', 'url(' + responseText.url + ') no-repeat');
                                $('.left-block-content-profile-item-left-photo').css('background', 'url(' + responseText.url + ') no-repeat');
                                $('.bar').css('width', 0);
                            }
                        });
                    });
                </script>
                <div id="upload-file-container" onclick="trigger=true;">
                    <input id="id_picture" type="file" name="file" onchange="$(this).closest('form').submit();">
                </div>
                <a class="link" style="cursor: pointer;" onclick="trigger = true; $('#upload-file-container').trigger('click');">Изменить фото</a>
            {% else %}
                <div id="upload-file-container"></div>
            {% endif %}
            </div>
        {% endif %}

            <div class="links block popup-holder popup-active groups">
                {% if user.is_authenticated and is_no_my_group %}
                    <a class="add-group" href="javascript:void(0)"
                       onClick="JoinAGroup('{{ object.id }}', '/groups/join');">Вступить в группу</a><br>
                    {% else %}{% if not is_no_my_group %}
                        <a class="delete-group" href="javascript:void(0)"
                           onClick="JoinAGroup('{{ object.id }}', '/groups/unjoin');">Выйти из группы</a>
                    {% endif %}{% endif %}
                {% if not is_no_my_group %}
                    <a href="javascript:void(0)" class="write-to-group" id="write-to-group">написать в
                        группу</a>{% endif %}
                <a href="http://{{ request.get_host }}/groups/participants/{{ object.id }}" target="_blank" id="g-users" class="group-users">Участники группы</a>
             {%  comment %}
                <ul class="info groups">
                    <div class="box popup">
                        <span class="title">Участники группы ({{ object.count_users }}):</span>

                          <div class="content-block-top-block-1-window-filter-content-right-list-all" id="filter-scroll">
                            {% for member in object.members %}
                                <div class="row">
                                   <div class="photo">
                                       <a href="#">
                                            <div class="photo-bg"></div>
                                           <a href="{% url 'lichnie2' member.id %}"><img
                                                    src="{% get_preview_sizexy member.avatar.name 50 50 %}" width="50"
                                                    height="50" alt="image description"/></a>
                                        </a>
                                    </div>
                                    <div class="description">
                        <span class="heading">
                          <a href="{% url 'lichnie2' member.id %}">{{ member.lastname }} {{ member.firstname }} {{ member.surname }}</a>
                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </ul>
                   {% endcomment %}
            </div>
        </div>
        <div class="frame">
            <div class="description">
            {% if object.user_id %}
                <span class="heading">Создатель группы: <a
                        href="{% url 'lichnie2' object.user_id.id %}">{{ object.user_id.lastname }} {{ object.user_id.firstname }} {{ object.user_id.surname }}</a></span>
            {% endif %}

                <h3>{{ object.title }}</h3>
                <span class="info">открытая группа</span>

                <p><em>
{#                    {% if user.is_authenticated and is_my_group %}#}
{#                    {{ object.description|safe }}#}
{#                    {% else %}#}
                    {{ object.description|safe|linebreaks }}
{#                {% endif %}#}
                </em></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}{% if user.is_authenticated and not is_no_my_group %}<!-- Создание поста -->
<div class="content-block-center-write-contaner" style="min-height:0px;">
    <div class="content-block-center-write-form">
        <div class="content-block-center-write-form-close" title="Закрыть форму"></div>
        <div class="content-block-center-write-form-block-1">
            <div class="content-block-center-write-form-block-1-left">
                <div class="content-block-center-write-form-block-1-left-block-3">
                    <div class="content-block-center-write-form-block-1-left-block-3-left">
                        <span>Выберите специальность:</span>
                    </div>
                    <div class="content-block-center-write-form-block-1-left-block-3-right">
                        <select name="spec_id" class="default form-filed-11">
                            <option value="0">Выберите специальность</option>
                            {% for speciality in specialities_list %}
                                <option value="{{ speciality.id }}">{{ speciality.name }}</option>{% endfor %}
                        </select>
                    </div>
                </div>
                <div class="content-block-center-write-form-block-1-left-block-4">
                    <input type="text" name="title" class="form-filed-12" placeholder="Введите заголовок"/>
                </div>
                <div class="content-block-center-write-form-block-1-left-block-5">
                    <textarea name="description" {% if user.is_staff %}id="description"{% endif %} class="form-filed-13"
                              onFocus="if (this.value == 'Введите текст') {this.value = '';}"
                              onBlur="if (this.value == '') {this.value = 'Введите текст';}">Введите текст</textarea>
                </div>
            </div>
        </div>
        {% csrf_token %}
        <div class="content-block-center-write-form-block-2">
            <div class="content-block-center-write-form-block-2-left">
                <div class="content-block-center-write-form-block-2-left-photolink">
                    <input id="file" type="file" name="file" class="form-filed-4 default"/>
                </div>
                <div class="content-block-center-write-form-block-2-left-videolink">
                            <input type="text" name="links-video" id="links_video" class="form-filed-4 default"
                                   style="padding-top:2px; padding-bottom:2px;"
                                   placeholder="Введите ссылку на видео в это поле"
                                   onfocus="if (this.value == '') {$('#key-2-2').fadeIn();$('#key-2-1').fadeOut();}"
                                   onblur="if (this.value == '') {$('#key-2-1').fadeIn();$('#key-2-2').fadeOut();}"/>
                            <input type="submit" value="OK" class="form-key-4" id="key-2-1" onclick="if($('#links_video').val()==''){$('div.content-block-center-write-form-block-2-left-videolink').fadeOut();}return false;"
                                   style="height:21px;"/>
                            <input type="submit" value="OK" class="form-key-5" id="key-2-2" style="height:21px;"
                                   onClick="$('div.content-block-center-write-form-block-2-left-videolink').fadeOut();if($('#links_video').val()!=''){addvideo();$('#key-2-1').fadeIn();$('#key-2-2').fadeOut();}return false;"/>
                        </div>
                <div class="content-block-center-write-form-block-2-left-separator">
                    <div class="content-block-center-write-form-block-2-left-photo-container">
                        <div class="content-block-center-write-form-block-2-left-photo">
                            <span title="Добавить фото" id="upload-file"
                                  onClick1="$('div.content-block-center-write-form-block-2-left-photolink').fadeIn();">Добавить фото</span>
                        </div>
                    </div>
                    <div class="content-block-center-write-form-block-2-left-video-container">
                        <div class="content-block-center-write-form-block-2-left-video">
                            <span title="Добавить видео"
                                  onClick="$('div.content-block-center-write-form-block-2-left-videolink').fadeIn();">Добавить видео</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-block-center-write-form-block-2-right">
                <input type="submit" value="Опубликовать" class="form-key-3" id="addpost"/>
            </div>
        </div>
    </div>
</div>{% endif %}
{% if object_list|length %}
    {% for object in object_list %}
        {% include "includes/post.html" %}
    {% endfor %}
{% else %}
    <div class="content-block-center-item">
        <div class="content-block-center-item-head">
        </div>
        <div class="content-block-center-item-content">
            <p>В данной группе нет публикаций</p>
        </div>
    </div>
{% endif %}
<script>
    function JoinAGroup(id, url) {
        jQuery.ajax({
            url: url, //Адрес подгружаемой страницы
            type: "get", //Тип запроса
            //dataType: "html", //Тип данных
            data: {'id': id},
            success: function (response) { //Если все нормально
                location.reload();
            },
            error: function (response) { //Если ошибка
                alert('Произошла ошибка. Попробуйте ещё раз'); //document.getElementById('group'+id).innerHTML = "Ошибка при отправке формы";
            }
        });
        //}
    }
    function SendComment(result_id, form_id, url) {
        if($(this).data('locked') == 1){
            return false;
        }
        var form = $(this);
        var text = jQuery("#" + form_id).children(".form-filed-3").val();
        if (text.trim() == '') {
            alert('Комментарий не может быть пустым');
        } else {
            $(this).data('locked', 1);
            jQuery.ajax({
                url: url, //Адрес подгружаемой страницы
                type: "POST", //Тип запроса
                dataType: "html", //Тип данных
                data: jQuery("#" + form_id).serialize(),
                success: function (response) { //Если все нормально
                    $(this).data('locked', 0);
                    document.getElementById(result_id).innerHTML = response;
                },
                error: function (response) { //Если ошибка
                    $(this).data('locked', 0);
                    document.getElementById(result_id).innerHTML = "Ошибка при отправке формы";
                }
            });
        }
    }
    function SendLike(id, service_id, id_result) {
        {% if user.is_authenticated %}
            jQuery.ajax({
                url: 'https://vrachivmeste.ru/likes/', 	//Адрес подгружаемой страницы
                type: 'get', 	//Тип запроса
                data: {'id': id, 'service_id': service_id, 'user_id':{{ user.id }}},
                success: function (response) { //Если все нормально
                    document.getElementById(id_result).innerHTML = response;
                },
                error: function (response) { //Если ошибка
                    alert("Ошибка");
                }
            });
        {% else %}
            alert("Вы не авторизованы, либо не состоите в данной группе");
        {% endif %}
    }

    var thisWork = 0; // 0-отключено всегда
    function getNextP() {

        if (thisWork == 1) {
            thisWork = 0;
            $.ajax({
                type: 'get',
                url: "{{ path }}",
                data: {'page': thisPageNum, 'spec_id': spec_id, 'format': format.join()},
                success: function (data) {
                    //$("#upBlock").css('display','none');
                    $(".content-block-center").html($(".content-block-center").html() + " " + data);
                    thisPageNum = thisPageNum + 1;
                    thisWork = 1;
                }
            });
        }
    }

    var scrH = $(window).height();
    var scrHP = $(".content-block-center").height();

    $(window).scroll(function () {
        var scro = $(this).scrollTop();
        var scrHP = $(".content-block-center").height();
        var scrH2 = 0;
        scrH2 = scrH + scro;
        var leftH = scrHP - scrH2;
        if (leftH < 300) {
            getNextP();
        }
    });
    $('#write-to-group').on('click', function () {
        if ($(this).hasClass('savegroup')) {
            Dajaxice.groups.addgroup(Dajax.process, {
                'Rubrica': $('#post-rubric>span').text(),
                'Spec_id': $('select[name="spec_id"]').val(),
                'Text': $('.form-filed-13').val(),
                'Title': $('input[name="title"]').val()
            });
        }
        $('div.content-block-center-write').hide();
        $('div.content-block-center-write-form').slideDown();
        $('.content-block .info-block .btn').text('Сохранить');
        $('.content-block .info-block .btn').addClass('savegroup');
    });
    $('div.content-block-center-write-form-close').on('click', function () {
        // clear form
        tinymce.get('description').setContent('');
        $(':input', '.content-block-center-write-form-block-1')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');

        $('div.content-block-center-write-form').slideUp();
        setTimeout(function () {
            $('div.content-block-center-write').fadeIn();
        }, 300);
        $('.content-block .info-block .btn').text('Создать свою группу');
        $('.content-block .info-block .btn').removeClass('savegroup');
    });

    $('#addpost').click(function () {

        var dict = {};
        var photo = {};
        var video = {};
        dict['photo'] = photo;
        dict['video'] = video;
        jQuery.each($('.content-block-center-write-form-block-2-left-photo-list'), function (i) {
            child = $(this).children()[0];
            photo[i] = $(child).attr('file');
        });
        jQuery.each($('.content-block-center-write-form-block-2-left-video-list'), function (i) {
            child = $(this).children()[0];
            video[i] = $(child).attr('file');
        });
        dict['type'] = 15;
        dict['service'] = 0;
        dict['spec_id'] = $('select[name="spec_id"]').val();
        dict['title'] = $('input[name="title"]').val();
        dict['object_id'] = {{ object.id }};
        dict['description'] = tinyMCE.get('description') ? tinyMCE.get('description').getContent().replace('\n', '') : $('textarea[name="description"]').val();
        var errortext = "";
        if (dict['type'] == '0') {
            errortext = errortext + "Выберите тип материала\n";
        }
        if (dict['spec_id'] == '0') {
            errortext = errortext + "Выберите специальность\n";
        }
        if (dict['title'] == '' || dict['title'] == 'Введите заголовок') {
            errortext = errortext + "Введите заголовок\n";
        }
        if (dict['description'].replace(/<p>(Введите текст|&nbsp;| )*<\/p>/g, '').trim() == '') {
            errortext = errortext + "Введите описание\n";
        }
        if (errortext == "") {
            showLoader(true);
            jQuery.ajax({
                url: '/groups/addpost/', //Адрес подгружаемой страницы
                type: "POST", //Тип запроса
                dataType: "html", //Тип данных
                data: {
                    'csrfmiddlewaretoken': jQuery('input[name="csrfmiddlewaretoken"]').val(),
                    'data': JSON.stringify(dict)
                },
                success: function (response) { //Если все нормально
                    showLoader(false);
                    location.reload();
                },
                error: function (response) { //Если ошибка
                    showLoader(false);
                    var s = "";
                    for (prop in response) {
                        if (typeof response[prop] != "function") {
                            s += "response[" + prop + "] = " + response[prop] + "; ";
                        }
                    }
                    alert("Ошибка при отправке формы" + s);
                }
            });

        } else {
            alert('Вы допустили ошибки:\n\r' + errortext);
        }
        //return false; // и этим false отменяем отправку формы
    });


    var image_index = 1;
    function progressHandlingFunction(e) {
        if (e.lengthComputable) {
            //$('progress').attr({value:e.loaded,max:e.total});
            $('.bar').css('width', (e.loaded / e.total) * 100);
        }
    }
    $('#upload-file').click(function () {
        $("#file").trigger('click');
    });

    $('#file').bind('change', function () {
        $('div.content-block-center-write-form-block-2-left-photolink').fadeOut();
        var data = new FormData();
        var error = '';
        jQuery.each($('#file')[0].files, function (i, file) {
            if (file.name.length < 1) {
                error = error + ' Файл имеет неправильный размер! ';
            }
            if (file.size > 10000000) {
                error = error + ' File ' + file.name + ' is to big.';
            }
            data.append('file', file);
        });

        if (error != '') {
            alert(error);
        } else {
            $.ajax({
                url: '{% url "lenta.views.fileupload" %}',
                type: 'POST',
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { // проверка что осуществляется upload
                        myXhr.upload.addEventListener('progress', progressHandlingFunction, false); //передача в функцию значений
                    }
                    return myXhr;
                },
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('\
					<div class="content-block-center-write-form-block-2-left-photo-list-download">\
					<div class="progress">\
					<div class="bar"></div>\
					</div>\
					</div>').appendTo('.content-block-center-write-form-block-2-left-photo-container');
                    var percentVal = '0%';
                    $('.bar').css('width', percentVal);
                },
                success: function (data) {
                    var percentVal = '100%';
                    $('.bar').css('width', percentVal);
                },
                error: errorHandler = function () {
                    alert('Ошибка загрузки файлов')
                    $('#info').html('Ошибка загрузки файлов');
                },
                complete: function (xhr) {
                    responseText = JSON.parse(xhr.responseText);
                    if (!responseText.result) {
                        alert('Ошибка загрузки файлов');
                    } else {
                      $('.content-block-center-write-form-block-2-left-photo-container').append(
                              '<div class="content-block-center-write-form-block-2-left-photo-list">\
                                  <div file="' + responseText.file + '" class="content-block-center-write-form-block-2-left-photo-list-prev" style="background-image:url(' + responseText.url + ')"></div>\
              <span>Фото №' + (image_index++) + '</span>\
              <div class="content-block-center-write-form-block-2-left-photo-list-del" title="Удалить фото" onclick="deletephoto(\'' + responseText.url + '\', this);"></div>\
            </div>');
                      $('.content-block-center-write-form-block-2-left-photo-list-download').remove();
                    }
                }
            });
        }
    })

    function deletephoto(photo, el) {
        $.post('{% url "lenta.views.filedelete" %}', {file: photo}, function (data) {
            if (data.result) {
                parent = $(el).parent('.content-block-center-write-form-block-2-left-photo-list');
                parent.remove();
            }
        }, "json");
    }

    function addvideo() {
        if ($('input[name="links-video"]').val()) {
            $.post('{% url "lenta.views.videoupload" %}', {video: $('input[name="links-video"]').val()}, function (data) {
                html =
                        '<div class="content-block-center-write-form-block-2-left-video-list">\
                            <div file="' + data.file + '" class="content-block-center-write-form-block-2-left-video-list-prev" style="background-image:url(' + data.furl + ')"></div>\
						<div class="content-block-center-write-form-block-2-left-video-list-gradient"></div>\
						<span>' + data.title + '</span>\
						<div class="content-block-center-write-form-block-2-left-video-list-del" title="Удалить видео" onclick="deletevideo(\'' + data.path + '\', this);"></div>\
					</div>';
                if ('result' in data && data['result']) {
                    $(html).appendTo('.content-block-center-write-form-block-2-left-video-container');
                    $('.content-block-center-write-form-block-2-left-videolink').css('display', 'none');
                } else {
                    alert("Ошибка! Неправильная ссылка на видео!");
                }
            }, "json");
        }
    }

    function deletevideo(path, el) {
        $.post('{% url "lenta.views.videodelete" %}', {video: path}, function (data) {
            if (data == 'OK') {
                parent = $(el).parent('.content-block-center-write-form-block-2-left-video-list');
                parent.remove();
            }
        });
    }
</script>{% endblock %}
