{% extends "base.html" %}{% load account_tags staticfiles %}
{% block title_page %}{{ title|striptags }}{% endblock %}
{% block title %}{{ title|safe }}{% endblock %}
{% block js_page %}
    <script type="text/javascript" src="{% static 'js/detect.js' %}"></script>
    <script src="{% static 'js/jquery.form.min.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{{ type_is }}


{% block content %}
<!--content-->
<main class="content">
    <div class="lecturers">
        <section class="row-block p-b">
            <div class="container">
                <div class="my-row">
                    <div class="my-col-12 my-col-lg-9">
                        <h1 class="h1">Наши лекторы</h1>
                        <div class="lecturers__alphabet">




            {% for letter in lecturers_letters %}

                  {% if request.GET.letter|lower == letter|lower %}
                    <a href="" class="lecturers__letters active">{{ letter }}</a>
                  {% else %}
                    <a href="{% url "lecturers" %}?letter={{letter}}" class="lecturers__letters">{{ letter }}</a>
                  {% endif %}

            {% endfor %}
        {% if request.GET.letter %}
    <a href="{% url "lecturers" %}" class="lecturers__letters lecturers__letters_all">Все</a>
        {% else %}
           <a href="" class="lecturers__letters lecturers__letters_all">Все</a>
        {% endif %}


                        </div>

                    </div>


                </div>
            </div>
        </section>

    </div>


</main>
<!--/content-->


     <div id="lenta">
     {% if user.is_authenticated %}
    {% if object_list|length %}
      {% for object in object_list %}
        {% include 'lecturers/one_lecturer.html' %}
      {% endfor %}
    {% else %}
      <div class="content-block-center-item">
        <div class="content-block-center-item-head">
        </div>
        <div class="content-block-center-item-content">
          <p>По заданным критериям нет материалов</p>
        </div>
      </div>
    {% endif %}
  {% else %}
    <div class="translation">
      <br/><br/><br/>
      <span class="title">Для просмотра раздела "Лекторы" войдите на сайт, используя Ваш логин и пароль. </span>

      <p class="inform-panel"><a style="float:left; margin-top:10px;" class="btn" href="/account/login/">Войти</a></p>
      <br/><br/>
      <span class="title">Если вы не регистрировались ранее на сайте, пройдите регистрацию.</span>

      <p class="inform-panel"><a style="float:left;  margin-top:10px;" class="btn" href="/account/register1/">Регистрация</a>
      </p>
      <br/>
    </div>
  {% endif %}
     </div>
     {% if user.is_authenticated %}
<button id="next10" class="btn-default btn m-t-50 m-auto ">Показать еще</button>
      {% endif %}
    <script>
{% comment %}

    $('.content-block-center-item-content img').each(function (index) {
        this.style.width = "100%";
        this.style.height = "100%";
    })
{% endcomment %}

    $('.content-block-center-item-content hr').each(function (index) {
        this.style.width = "100%";
    })

    function SendComment(result_id, form_id, url) {
        var text = jQuery("#" + form_id).children(".form-filed-3").val();
        if (text.trim() == '') {
            alert('Комментарий не может быть пустым');
        } else {
            jQuery.ajax({
                url: url,
                type: "POST",
                dataType: "html",
                data: jQuery("#" + form_id).serialize(),
                success: function (response) { //Если все нормально
                    document.getElementById(result_id).innerHTML = response;
                },
                error: function (response) { //Если ошибка
                    document.getElementById(result_id).innerHTML = "Ошибка при отправке формы";
                }
            });
        }
    }

    function SendLike(id, service_id, id_result) {
        jQuery.ajax({
            url: 'https://vrachivmeste.ru/likes/', //Адрес подгружаемой страницы
            type: 'get', //Тип запроса
            data: {'id': id, 'service_id': service_id, 'user_id':{{ user.id }} },
            success: function (response) { //Если все нормально
                document.getElementById(id_result).innerHTML = response;
            },
            error: function (response) { //Если ошибка
                alert("Ошибка");
            }
        });
    }
    </script>

<script>
    var thisWork = 1;
    thisPageNum = 2;
    $('#next10').click(function (){ showLoader(true);
	if (thisWork == 1) {
	    thisWork = 0;
	    jQuery.ajax({
		type: 'get',
		url: "{{ path }}",
		data: {
		    'page': thisPageNum,
		    'letter': '{{ request.GET.letter }}',
		    'search': $('input[name="search"]').val()
		},
		success: function (data) {
		    //var page = $(data).find('input[name="page"]').val();
		    //if (page) {
			showLoader(false); $(data).appendTo("#lenta");
			thisPageNum+=1;
			thisWork = 1;
			$('.content-block-center-item-content img').each(function (index) {
			});
			$('.content-block-center-item-content hr').each(function (index) {
			    this.style.width = "100%";
			});
		    //}
		},
		error: function() {

		}
	    });
	}
    });
    </script>



{% endblock %}
