{% load account_tags %}{% load staticfiles %}

{% comment %}
        {% ifchanged object.surname|slice:':1' %}
      {% if not forloop.first or not hide_first_letter %}
        <div class="content-block-center-item-nohead-autor lecturer-list-letter">
          <h2>{{ object.surname|slice:':1' }}</h2>
        </div>
      {% endif %}
    {% endifchanged %}
{% endcomment %}
                      <div class="lecturers__cards">

                            <div class="card-lecturers">
                                <div class="card-lecturers__img" style="background-image: url({{ object.image.url }});"></div>
                                <div class="card-lecturers__main">
                                    <div class="title-2">{{ object.fio }}</div>
                                   <!-- <div class="title card-lecturers__subtitle">{{ object.fio }}</div> -->
                                    <div class="title card-lecturers__text">{{ object.content|truncatewords_html:15|safe|linebreaks }}</div>
                                    <a href="{% url 'detaillecturer' object.id %}" class="link link-mini">Читать далее</a>
                                     {% if user.is_staff %}
          <a href="{% url 'admin:lecturers_lecturer_change' object.id %}" class="link link-mini">ред.</a>
          <a href="{% url 'admin:lecturers_lecturer_delete' object.id %}" class="link link-mini">удалить</a>
      {% endif %}
                                </div>

                            </div>
           </div>