{% load account_tags %}{% load staticfiles %}
<div class="content-block-center-item one-lecturer">
  <div class="content-block-center-item-head">
    {% ifchanged object.surname|slice:':1' %}
      {% if not forloop.first or not hide_first_letter %}
        <div class="content-block-center-item-nohead-autor lecturer-list-letter">
          <h2>{{ object.surname|slice:':1' }}</h2>
        </div>
      {% endif %}
    {% endifchanged %}
    <div class="content-block-center-item-head-theme lecturer-list-fio"><span>
        {{ object.fio_short }}
    </span></div>
  </div>
  <div class="content-block-center-item-content lecturer-description">
    <div class="lecturer-photo-container">
      <img src="{{ object.image.url }}" alt="{{ object.fio }}" class="lecturer-photo">
    </div>

    <strong class="lecturer-list-fio-full">{{ object.fio }}</strong>
    {{ object.content|truncatewords_html:15|safe|linebreaks }}

    <div class="content-block-center-item-content-redmore lecturer-list-links">
      <div class="content-block-center-item-content-redmore-link">
        <a href="{% url 'detaillecturer' object.id %}">Читать далее</a>
      </div>

      {% if user.is_staff %}
        <div class="content-block-center-item-content-redmore-adminedit">
          <a href="{% url 'admin:lecturers_lecturer_change' object.id %}">ред.</a>
          <a href="{% url 'admin:lecturers_lecturer_delete' object.id %}">удалить</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>