{% extends "base.html" %}
{% load account_tags %}
{% block title_page %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% load staticfiles %}
{% block js_page %}
<script type="text/javascript" src="{% static 'js/detect.js' %}"></script>
<script src="{% static 'js/jquery.form.min.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block after_header %}
{% include 'lichnie/header_lichnie.html' %}
{% endblock %}


{% block content %}



                        <div class="personal-area__info">
                            <h1 class="title-1">Личные данные</h1>
                            <div class="title-p-min">
                                {% if User.birthday|IsData %}
                                <p><b>Дата рождения:</b> {{ User.birthday|date:"d M Y" }}</p>
                                {% endif %}
                            {% if User.sex|IsData %}
                                <p><b>Пол:</b> {% if User.sex == 'male' %}мужской{% elif User.sex == 'female' %}
            женский{% endif %}</p>
                            {% endif %}
                            {% if User.spec_id|IsData %}
                                <p><b>Основная специальность:</b> {{ User.spec_id }}</p>
                            {% endif %}
                            {% if User.addspeciality|IsData %}
                                <p><b>Дополнительная специальность:</b> {{ User.addspeciality }} Стаж: {{ User.addexperience }} лет</p>
                             {% endif %}
                            {% if User.graduate|IsData %}
                                <p><b>Учёная степень:</b> {{ User.graduate }}</p>
                                  {% endif %}
                            {% if User.dissertation|IsData %}
                                <p><b>Тема диссертации:</b> {{ User.dissertation }}</p>
                             {% endif %}

                                {% if User.organization|normalize|IsData %}
                               <p><b> Место работы:</b> {{ User.organization|normalize }}
                              {% endif %}
                              {% if User.job|normalize|IsData %}
                                {{ User.job|normalize }}
                              {% endif %}</p>

                              {% if User.school|IsData %}
                                 <p><b>Образование:</b> {{ User.school }}{% if User.graduate_year|IsData %} ‘{{ User.graduate_year }}{% endif %}
                              {% endif %}</p>
                              {% if User.faculty|IsData %}
                                 <p><b>Факультет:</b> {{ User.faculty }}</p>
                              {% endif %}
                              {% if User.cathedra|IsData %}
                                <p><b> Кафедра:</b> {{ User.cathedra }}</p>
                              {% endif %}


                            </div>
                                  {% if is_owner %}
                            <a href="{% url 'lichnie1' %}" class="link-mini">Редактировать личные данные</a>
                        {% endif %}
                        </div>
                        <div class="personal-area__info">
                            <div class="title-1">Контакты</div>
                            <div class="title-p-min">
                             {% if User.phone_number and User.phone_visible != 'no_visible' %}
                                  <br/>
                                  <p><b>Телефон: </b>{{ User.phone_number }}</p>
                                {% endif %}
                            {% if User.email|IsData and User.email_visible != 'no_visible' %}
                                <p><b>Email:</b> <a href="mailto:{{ User.email }}">{{ User.email }}</a></p>
                            {% endif %}

                               {% if User.site|normalize|IsData %}
                                <p><b>Сайт:</b>
                                  {% if User.site|normalize|slice:":4" == 'http' %}
                                  <a href="{{ User.site|normalize }}">{{ User.site|normalize }}</a>
                                  {%  else %}
                                <a href="http://{{ User.site|normalize }}">{{ User.site|normalize }}</a>
                              {% endif %}
                              {% endif %}
                                <p><b>Адрес:</b> {% if User.country %}{{ User.country }},{% endif %}
								{% if User.town %}{{ User.town }}{% endif %}</p>

                            {% if User.ICQ_Skype|IsData %}
                  <p><b>ICQ:</b> {{ User.ICQ_Skype }}</p>
                            {% endif %}

                            </div>
                         {% if is_owner %}
                            <a href="{% url 'lichnie1' %}" class="link-mini">Редактировать контакты</a>
                        {% endif %}
                        </div>

                        <div class="personal-area__feed">
                            <div class="title-1">Лента сообщений</div>
                      {% for object in object_list %}
                        {% include 'posts/one_post2.html' %}
                      {% endfor %}


                </div>
<script>
	function inviteintomycircle(senddata){
             $.get('/circle/inviteintomycircle/',
                     senddata,
                     function(data){
                    //$('.circle_link').text("Отозвать <br>приглашение");
                    alert(data);
			});
	};
    </script>
{% endblock %}

{% block before_footer %}
{% endblock %}
