{% extends 'base.html' %}
{% load static %}
{% load account_tags %}
{% block title %}Редактирование личной информации{% endblock %}
{% block top_block %}<div class="content-block-top-block-1-window-filter" id="window-filter">
			<div class="content-block-top-block-1-window-filter-content">

			</div>
			<div class="content-block-top-block-1-window-filter-bottom">
				<input type="submit" id="save-filter" value="Сохранить параметры" class="form-key-7" />
			</div>
		</div>{% endblock %}
{% block content %}

<!--content-->

 <h1 class="h1">Личный кабинет</h1>

                        <form action="{% url "register2" %}" method="post" enctype="multipart/form-data" id="reg_form_info" class="registration__block">
                        {% csrf_token %}
                            <div class="registration__item">
                                <div class="title-3 m-b-30">Редактирование личной информации:</div>
                                <div class="registration__ava-block" >

				<style>
					#upload-file-container {
					   background: url({% if user.avatar %}{{user.avatar.url}}{% endif %}) no-repeat;
					   cursor: pointer;
                        border-radius: 20px;
                        overflow: hidden;
                        height: 196px;
                        width: 196px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
					}
					#upload-file-container input {
					   filter: alpha(opacity=0);
					   opacity: 0;
					}
					.bar {
						background-color: #E1523D;
						width:0%;
						height:10px;
						border-radius: 3px;
					}
				</style>
				<script>
					var trigger = true;
					$(document).ready(function() {
						$('#upload-file-container').wrap('<form id="avatar-upload" action="{% url "avatarupload" sizex='196' sizey='196' %}" method="post" enctype="multipart/form-data"></form>');
						$('#upload-file-container').click(function(){
							if( trigger ) {
								trigger = false;
								$("#id_picture").trigger('click');
							}
						});

                        $('#avatar-upload').ajaxForm({
						beforeSend: function() {
							var percentVal = '10%';
							$('.bar').css('width', percentVal);
						},
						uploadProgress: function(event, position, total, percentComplete) {
							var percentVal = percentComplete + '%';
							$('.bar').css('width', percentVal);
						},
						success: function() {
							var percentVal = '100%';
							$('.bar').css('width', percentVal);
						},
						complete: function(xhr) {
							responseText = JSON.parse(xhr.responseText)
							$('.header__ava').css('background', 'url('+responseText.url+') no-repeat');
							$('.registation__ava').css('background', 'url('+responseText.url+') no-repeat');
							$('.bar').css('width', 0);
						}
					});
					});

				</script>

                                    <div class="my-col-12 my-col-lg-4">
				<div id="upload-file-container" onclick="trigger=true;">
					<input id="id_picture" type="file" name="file" onchange="$(this).closest('form').submit();">
				</div>
				<a class="link" style="cursor: pointer;" onclick="trigger = true; $('#upload-file-container').trigger('click');">Изменить фото</a>
				<div class="bar"></div>
                                </div>

                                    <div class="registration__ava-block-input">
                                        <div class="contact-page__row">
                                            <div class="contact-page__left">
                                                <div class="title-4">Фамилия</div>
                                            </div>
                                            <div class="contact-page__right">
                                                <input class="form-control" type="text" value="{{ user.lastname }}" name="lastname" class="required">
                                            </div>
                                        </div>
                                        <div class="contact-page__row">
                                            <div class="contact-page__left">
                                                <div class="title-4">Имя</div>
                                            </div>
                                            <div class="contact-page__right">
                                                <input class="form-control" type="text" value="{{ user.firstname }}" name="firstname" class="required" >
                                            </div>
                                        </div>
                                        <div class="contact-page__row">
                                            <div class="contact-page__left">
                                                <div class="title-4">Отчество</div>
                                            </div>
                                            <div class="contact-page__right">
                                                <input class="form-control" type="text" value="{{ user.surname }}" name="surname" class="required">
                                            </div>
                                        </div>
                                        <div class="registation__ava-block-flex">
                                            <div class="contact-page__row">
                                                <div class="contact-page__left">
                                                    <div class="title-4">Ваш пол:</div>
                                                </div>
                                                <div class="contact-page__right">
                                                    <div class="custom-checkbox checkbox-sex ">
                                                        <input type="radio" name="sex" value="male" {% if user.sex == "male" %} checked {% endif %} id="regM">
                                                        <label class="box-label" for="regM">
                                                            M
                                                        </label>
                                                    </div>
                                                    <div class="custom-checkbox checkbox-sex ">
                                                        <input type="radio" name="sex" value="female" {% if user.sex == "female" %} checked {% endif %} id="regW">
                                                        <label class="box-label" for="regW">
                                                            Ж
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-page__row">
                                                <div class="contact-page__left">
                                                    <div class="title-4">Дата рождения:</div>
                                                </div>
                                                <div class="contact-page__right">
                                                    <div class="calendar__input calendar__min">
                                                        <input class="calendar form-control" type="text" id="datepicker" name="birthday" value="{{ birthday|date:'d/m/Y' }}">
                                                     </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Специализация:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Основная специальность:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="spec_id" id="r-1">
                                        <option selected value="">Выберите специальность</option>
                                            {% for s in spec_list %}
									<option value="{{ s.id }}" {% if s.name == user.spec_id.name %} selected="selected" {% endif %}>{{ s.name }}</option>
								{% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Cтаж:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" type="text" name="experience" value="{{ user.experience }}">
                                    </div>
                                </div>

                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Дополнительная специальность:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="addspeciality" >
                                        <option selected value="0">Выберите специальность</option>
 						{% for al in addspeciality_list %}
						<option value="{{ al.id }}" {% if al.name == user.addspeciality.name %} selected {% endif %}>{{ al.name }}</option>
					{% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Cтаж:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" type="text" name="addexperience" value="{{ user.addexperience|IfNone }}">
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Ученая степень:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Выберите ученую степень:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2"  name="graduate" id="r-2">
                                            <option selected value="0">Выберите ученую степень</option>
                                            {% for g in graduate_list %}
                                                <option value="{{ g.pk }}" {% if g.pk == user.graduate %} selected {% endif %}>{{ g.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Тема диссертации:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field05" name="dissertation" value="{{ user.dissertation }}" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Звание:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Выберите звание:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="title"  id="r-3">
                                            <option selected value="0">Выберите звание</option>
                                        {% for t in title_list %}
                                            <option value="{{ t.name }}" {% if t.name == user.title %} selected {% endif %}>{{ t.name }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">или напишите свое звание:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field06" name="addtitle" value="{{ user.addtitle }}" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Звание:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Категория:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="category" id="r-4">
                                            <option selected value="0">Ваша категория:</option>
                                        {% for c in category_list %}
                                            <option value="{{ c.id }}" {% if user.category.id == c.id %} selected="selected" {% endif %}>{{ c }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Достижения и награды:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Ваши достижения и награды:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field08" name="awords" value="{{ aword }}" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Работа:</div>

                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Название организации:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field09" name="organization" value="{{ user.organization }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Должность:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field10" name="job" value="{{ user.job }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Сайт организации:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field11" name="site" value="{{ user.site }}" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Образование:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Выберите ВУЗ:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="school">
                                            <option selected value="0">Выберите ВУЗ</option>
                                    {% for s in school_list %}
                                        <option value="{{ user.s.name }}" {% if school == s.name %} selected {% endif %}>{{ s.name }}</option>
                                    {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Добавьте свой ВУЗ:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" name="no_found_school" value="{{ user.no_found_school }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Год выпуска:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" name="graduate_year" value="{{ user.graduate_year }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Факультет:</div>
                                    </div>
                                   <div class="contact-page__right">
                                        <input class="form-control" name="faculty" value="{{ user.faculty|IfNone }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Кафедра:</div>
                                    </div>
                                   <div class="contact-page__right">
                                        <input class="form-control" name="cathedra" value="{{ user.cathedra }}" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Контактная информация:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Выберите страну</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="country" id="country_change" >
                                            <option selected value="">Выберите страну</option>
							{% for c in country_list %}
								<option value="{{ c.id }}" {% if user.country.id == c.id %} selected="selected" {% endif %}>{{ c }}</option>
							{% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Выберите город</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="town" id="town_change">
                                            <option selected value="1" >Выберите город</option>
                                    {% for t in town_list %}
                                       <option value="{{ t.id }}" {% if user.town.id == t.id %} selected="selected" {% endif %}>{{ t.name }}</option>
                                    {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Контактный телефон:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="tel-field" name="phone_number" value="{{ user.phone_number }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__right">
                                        <div class="custom-checkbox">
                                            <input class="form-group" type="checkbox" name="phone_visible" {% if user.phone_visible == "no_visible" %} checked {% endif %} value="" id="check_2">
                                            <label class="box-label" for="check_2">
                                                Не отображать на сайте
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">E-mail:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="tel-field" name="phone_number" value="{{ user.email }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__right">
                                        <div class="custom-checkbox">
                                            <input class="form-group" type="checkbox" name="phone_visible"  {% if user.email_visible == "no_visible" %} checked {% endif %} value="" id="check_2">
                                            <label class="box-label" for="check_2">
                                                Не отображать на сайте
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Instagram/Skype:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="skype-field"  name='ICQ_Skype' value="{{ user.ICQ_Skype }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Мой сайт / профиль в соц.сети:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="site-field" name="social" value="{{ user.social }}" type="text">
                                    </div>
                                </div>
                            </div>



                            <button class="btn-default btn contact-page__btn">Cохранить изменения данных профиля</button>
                        </br></br></br>



                            <div class="contact-page__row">
                                <div class="contact-page__left">
                                    <div class="title-4">Ваш пароль:</div>
                                </div>
                                <div class="contact-page__right registration__right form-control__password">
                                    <input name='oldpassword' class="form-control " type="text">
                                    <button class="form-control__eye btn"></button>
                                </div>
                                <div class="title-5 registration__password-title">Если Вы забыли свой пароль, воспользуйтесь процедурой <a href="{% url 'forgot' %}">восстановления пароля</a></div>
                            </div>
                            <div class="contact-page__row">
                                <div class="contact-page__left">
                                    <div class="title-4">Новый пароль:</div>
                                </div>
                                <div class="contact-page__right registration__right form-control__password">
                                    <input name='password' class="form-control " type="text">
                                    <button class="form-control__eye btn"></button>
                                </div>
                                <div class="title-5 registration__password-title">Пароль должен содержать не менее 8 символов (символы латинского алфавита и цифры)</div>
                            </div>
                            <div class="contact-page__row">
                                <div class="contact-page__left">
                                    <div class="title-4">Повторите пароль*:</div>
                                </div>
                                <div class="contact-page__right registration__right form-control__password">
                                    <input name='confirmpassword' class="form-control" type="text">
                                    <button class="form-control__eye show btn"></button>
                                </div>
                                <div id="pass_change" class="title-5 registration__password-title" style="color: red"></div>
                            </div>


                             <div onclick="SaveNewPassword();" class="btn-default btn contact-page__btn">Сохранить новый пароль</div>


                        <div class="registration__question">
                            <div class="title-3 m-b-15">Возникли вопросы при регистрации?</div>
                            <div class="title-5">Задайте их нам по e-mail</div>
                            <a href="mailto:vrvm.redaktor@gmail.com" class="title-5 font-weight-bold">vrvm.redaktor@gmail.com </a>
                            <div class="title-5">Мы обязательно поможем!</div>
                        </div>

     </form>
    		<script>

			function SaveNewPassword() {

                $.post('/lichnie/changepass/', {
                    'oldpassword':		$("input[name='oldpassword']").val(),
					'password':			$("input[name='password']").val(),
					'confirmpassword':	$("input[name='confirmpassword']").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, function(data){
                {
                    //alert(data);
                    $("#pass_change").empty();
                    $("#pass_change").append(data);

				}
			});

			}

			function ViewMessage(message) {

				$('span#spanmessage').text(message);
				$('.popup').css('display', 'block');
			}
		</script>



<script>

	$('#country_change').change(function (){
             $.get('/account/register2/', {country: $('#country_change').find(":selected").val()}, function(data){
                {   $("#town_change").empty();
                    $(data).appendTo("#town_change");
				}
			});

	});
    </script>

    	<script>
		$(document).ready( function() {
			$("#reg_form_info").submit( function() {
				$.post( "{% url 'saveprofile' %}", $(this).serialize(), function( data ) {
					if( data.result ) {
						window.location = "{% url 'lichnie2' %}";
					} else {
						alert( data.message );
					}
				}, "json")
				.fail(function(request) {
					alert( "error" );
				});
				return false;
			});
		});
	</script>
{% endblock %}

