<div class="title-holder">
	<h3>Приветствуем Вас на странице с регистрацией в социальной сети Врачи Вместе!</h3>
</div>
<form class="register-form style01" action="{% url "account.views.register1" %}" method="post">
	<input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}' />
	<div class="register-holder">
		<label for="text-field01">Введите адрес электронной почты:</label>
		<input  class="text01" id="text-field01" type="text" name="email" value="" >
		<div class="row">
			<label for="password-field">Ваш пароль:</label>
			<div class="row-holder">
				<div class="password-holder pass-eye-js">
					<input id="password-field" type="password" name="password" value="" >
					<a class="eye" href="#">eye</a>
				</div>
				<span class="info">Пароль должен содержать не менее 6 символов<br>(символы латинского алфавита и цифры)</span>
			</div>
		</div>
		<div class="row">
			<label for="password-field01">Повторите пароль:</label>
			<div class="row-holder">
				<div class="password-holder pass-eye-js">
					<input id="password-field01" type="password" name="confirm" value="" >
					<a class="eye" href="#">eye</a>
				</div>
				{{ error_placeholder|safe }}
			</div>
		</div>
	</div>
	<div class="bottom">

        <label><input type="checkbox" name="agreed" value="1"/> <a href="/account/agreement">Согласен с регламентом - пользовательским соглашением ( в соответствии с законом о персональных данных №152-ФЗ)</a></label>

		<div class="next-holder">
			<a href="#" class="btn-next" onclick="$(this).closest('form').submit();return false;">Сохранить и продолжить</a>
		</div>
		<span class="inform">Возникли вопросы при регистрации?</span>
		<span>Задайте их нам по e-mail: <a href="mailto:vrvm.redaktor@gmail.com">vrvm.redaktor@gmail.com </a> <br>Мы обязательно поможем!</span>
	</div>
</form>
