{% load static %}
 <h1 class="h1">Регистрация нового пользователя</h1>
                        <div class="title-5 font-weight-bold">Для продолжения регистрации заполните информацию о себе.</div>
                        <div class="title-4 registration__note">Поля, отмеченные « <span>*</span>» — обязательны для заполнения</div>

                        <form action="{% url "register2" %}" method="post" enctype="multipart/form-data" class="registration__block">
                        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}'/>
                            <div class="registration__item">
                                <div class="title-3 m-b-30">Редактирование личной информации:</div>
                                <div class="registration__ava-block" >


						<style>
							#upload-file-container {
							   background: url({% static 'images/img08.png' %}) no-repeat;
							   width: 118px;
							   height:117px;
                               cursor: pointer;
							}
							#upload-file-container input {
							    filter: alpha(opacity=0);
							    opacity: 0;
                                position:absolute;
                                top:-9999px;
                                left:-9999px;
							}
						</style>
                                        <script>
							var trigger = true;
							$(document).ready( function() {
							  $("#id_picture").change(function(e){
								$("#upload-file-container").css({'background': '#fff', 'color': '#989898', 'font-size': '15px', 'line-height': '2', 'padding-left': '10px', 'padding-top': '30px' }).append($("<span>Фото выбрано</span>"));
                              });
							  $("#school_select").chosen({
								no_results_text: "Нет результатов. Добавьте свой вариант в поле ниже.",
                                placeholder_text_single: "выберите ВУЗ"
                              }).on('chosen:no_results', function(e, params) {
                                  $("#no_found_school").show();
                              });
							});
						</script>						<label id="upload-file-container" for="id_picture">
							<input id="id_picture" type="file" name="avatar">
						</label>

                                    <div class="registration__ava-block-input">
                                        <div class="contact-page__row">
                                            <div class="contact-page__left">
                                                <div class="title-4">Фамилия *</div>
                                            </div>
                                            <div class="contact-page__right">
                                                <input class="form-control" type="text" value="{{ lastname }}" name="lastname" class="required" required>
                                            </div>
                                        </div>
                                        <div class="contact-page__row">
                                            <div class="contact-page__left">
                                                <div class="title-4">Имя *</div>
                                            </div>
                                            <div class="contact-page__right">
                                                <input class="form-control" type="text" value="{{ firstname }}" name="firstname" class="required" required>
                                            </div>
                                        </div>
                                        <div class="contact-page__row">
                                            <div class="contact-page__left">
                                                <div class="title-4">Отчество *</div>
                                            </div>
                                            <div class="contact-page__right">
                                                <input class="form-control" type="text" value="{{ surname }}" name="surname" class="required" required>
                                            </div>
                                        </div>
                                        <div class="registation__ava-block-flex">
                                            <div class="contact-page__row">
                                                <div class="contact-page__left">
                                                    <div class="title-4">Ваш пол:</div>
                                                </div>
                                                <div class="contact-page__right">
                                                    <div class="custom-checkbox checkbox-sex ">
                                                        <input type="radio" name="sex" value="male" id="regM">
                                                        <label class="box-label" for="regM">
                                                            M
                                                        </label>
                                                    </div>
                                                    <div class="custom-checkbox checkbox-sex ">
                                                        <input type="radio" name="sex" value="female" id="regW">
                                                        <label class="box-label" for="regW">
                                                            Ж
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-page__row">
                                                <div class="contact-page__left">
                                                    <div class="title-4">Дата рождения:</div>
                                                </div>
                                                <div class="contact-page__right">
                                                    <div class="calendar__input calendar__min">
                                                        <input class="calendar form-control" type="text" id="datepicker" name="birthday" value="{{ birthday }}" placeholder="Выбрать по дате">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Специализация:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Основная специальность*:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="spec_id" id="r-1">
                                        <option selected value="">Выберите специальность</option>
                                            {% for s in spec_list %}
									<option value="{{ s.id }}" {% if s.id|stringformat:"s" == spec_id|stringformat:"s" %} selected {% endif %}>{{ s.name }}</option>
								{% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Cтаж*:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" type="text" name="experience" value="{{ experience }}" required>
                                    </div>
                                </div>

                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Дополнительная специальность:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="addspeciality" >
                                        <option selected value="0">Выберите специальность</option>
 								{% for al in addspeciality_list %}
									<option value="{{ al.id }}" {% if al.name == addspeciality %} selected {% endif %}>{{ al.name }}</option>
								{% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Cтаж:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" type="text" name="addexperience" value="{{ addexperience }}">
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Ученая степень:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Выберите ученую степень:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2"  name="graduate" id="r-2">
                                            <option selected value="0">Выберите ученую степень</option>
                                            {% for g in graduate_list %}
                                                <option value="{{ g.pk }}" {% if g.pk == graduate %} selected {% endif %}>{{ g.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Тема диссертации:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field05" name="dissertation" value="{{ dissertation }}" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Звание:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Выберите звание:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="title"  id="r-3">
                                            <option selected value="0">Выберите звание</option>
                                        {% for t in title_list %}
                                            <option value="{{ t.name }}" {% if t.name == title %} selected {% endif %}>{{ t.name }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">или напишите свое звание:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field06" name="addtitle" value="{{ addtitle }}" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Звание:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Категория:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="category" id="r-4">
                                            <option selected value="0">Ваша категория:</option>
                                        {% for c in category_list %}
                                            <option value="{{ c.pk }}" {% if c.pk == category %} selected {% endif %}>{{ c.name }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Достижения и награды:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Ваши достижения и награды:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field08" name="awords" value="{{ awords }}" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Работа:</div>

                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Название организации *:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field09" name="organization" value="{{ organization }}" type="text" required>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Должность:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field10" name="job" value="{{ job }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Сайт организации:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="text-field11" name="site" value="{{ site }}" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Образование:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Выберите ВУЗ:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="school">
                                            <option selected value="0">Выберите ВУЗ</option>
                                    {% for s in school_list %}
                                        <option value="{{ s.name }}" {% if school == s.name %} selected {% endif %}>{{ s.name }}</option>
                                    {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Добавьте свой ВУЗ:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" name="no_found_school" value="{{ no_found_school }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Год выпуска:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" name="graduate_year" value="{{ graduate_year }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Факультет:</div>
                                    </div>
                                   <div class="contact-page__right">
                                        <input class="form-control" name="faculty" value="{{ faculty }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Кафедра:</div>
                                    </div>
                                   <div class="contact-page__right">
                                        <input class="form-control" name="cathedra" value="{{ cathedra }}" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="registration__item registration__item-text-right contact-page ">
                                <div class="title-3 m-b-30">Контактная информация:</div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Выберите страну *:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="country" id="country_change" >
                                            <option selected value="">Выберите страну</option>
							{% for c in country_list %}
								<option value="{{ c.id }}" {% if country|stringformat:"s" == c.id|stringformat:"s" %} selected {% endif %}>{{ c }}</option>
							{% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Регион *:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="region" id="region_change">
                                            <option selected value="1" >Выберите регион</option>
                                    {% for t in town_list %}
                                        <option value="{{ t.id }}" {% if town|stringformat:"s" == t.id|stringformat:"s" %} selected {% endif %}>{{ t.name }}</option>
                                    {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Город *:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <select class="select2" name="town" id="town_change">
                                            <option selected value="1" >Выберите город</option>
                                    {% for t in town_list %}
                                        <option value="{{ t.id }}" {% if town|stringformat:"s" == t.id|stringformat:"s" %} selected {% endif %}>{{ t.name }}</option>
                                    {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Контактный телефон:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="tel-field" name="phone_number" value="{{ phone_number }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__right">
                                        <div class="custom-checkbox">
                                            <input class="form-group" type="checkbox" name="phone_visible" value="" id="check_2">
                                            <label class="box-label" for="check_2">
                                                Не отображать на сайте
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Instagram/Skype:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="skype-field"  name='ICQ_Skype' value="{{ ICQ_Skype }}" type="text">
                                    </div>
                                </div>
                                <div class="contact-page__row">
                                    <div class="contact-page__left">
                                        <div class="title-4">Мой сайт / профиль в соц.сети:</div>
                                    </div>
                                    <div class="contact-page__right">
                                        <input class="form-control" id="site-field" name="social" value="{{ social }}" type="text">
                                    </div>
                                </div>
                            </div>



                            <button class="btn-default btn contact-page__btn">Сохранить и продолжить</button>
                        </form>

                        <div class="registration__question">
                            <div class="title-3 m-b-15">Возникли вопросы при регистрации?</div>
                            <div class="title-5">Задайте их нам по e-mail</div>
                            <a href="mailto:vrvm.redaktor@gmail.com" class="title-5 font-weight-bold">vrvm.redaktor@gmail.com </a>
                            <div class="title-5">Мы обязательно поможем!</div>
                        </div>

<script>
	$('#country_change').change(function (){
        $.get('/account/register2/', {country: $('#country_change').find(":selected").val()}, function(data){
            $("#region_change").empty();
            $("#town_change").empty();
            $('<option value="0">Выберите город</option>').appendTo('#town_change');

            $(data).appendTo("#region_change");

            $('#region_change').change(function (){
                $.get('/account/register2/', {region: $('#region_change').find(":selected").val()}, function(data){
                    $("#town_change").empty();
                    $(data).appendTo("#town_change");
                });
            });
        });
    });
</script>
