Добрый день!
<p>
  Вы зарегистрировались на сайте "Врачи вместе" -
  <a href="https://{{ host }}">https://{{ host }}</a> или были автоматически зарегистрированы,
  так как дали свое согласие при заполнении анкеты участника конференции на мероприятии конгресс-оператора "МедВебЭкспо" -
  <a href="http://medwebexpo.ru/">http://medwebexpo.ru/</a>
</p>
Несколько полезных советов:

<ol>
  <li>Вы можете отредактировать свой профиль на сайте "Врачи вместе", введя Ваш логин и пароль.</li>
  <li>Если это будет необходимо, в конце каждой нашей информационной рассылки есть опция отписки Click here to unsubscribe / Отказаться от подписки</li>
  <li>Обращаем Ваше внимание, что портал "Врачи вместе" на данный момент насчитывает более 15.000 материалов, которые будут полезны практикующему врачу!
  Также на портале ведутся прямые трансляции интереснейших медицинских мероприятий различной специализации!</li>
</ol>
<p>
Теперь Вы как наш пользователь имеете доступ ко всем ресурсам портала совершенно бесплатно!
</p>
Добро пожаловать!
<table>
    <tr>
        <td style="padding-right:15px;">Логин:</td>
        <td>{{ profile.login }}</td>
    </tr>
    <tr>
        <td style="padding-right:15px;">Пароль:</td>
        <td>{{ password }}</td>
    </tr>
</table>