.main-slider__card {
  padding: 60px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider__item {
  margin: 0;
}

.main-slider__items {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .main-slider__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-slider__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .main-slider__amount {
    margin-bottom: 10px;
  }
}

.main-slider__amount .main-slider__amout-svg {
  border-radius: 21px;
  background-color: #4adcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.main-slider__amount .main-slider__amout-svg .main-slider__amout-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 991px) {
  .main-slider__amount .main-slider__amout-svg .main-slider__amout-img {
    width: 20px;
    height: 20px;
  }
}

.main-slider__amount .main-slider__amount-main {
  margin-left: 15px;
}

.main-slider__amount .main-slider__amount-number {
  font-weight: 700;
}

.main-slider__amount .main-slider__text {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 16px;
}

.main-slider__left-block {
  max-width: 503px;
  padding-top: 50px;
}

@media screen and (max-width: 991px) {
  .main-slider__left-block {
    padding-top: 0;
  }
}

.main-slider__calendar-btn {
  margin: 30px auto 0;
}

.main-slider .slick-dots {
  position: absolute;
  top: 40%;
  right: 16%;
  bottom: auto;
  left: auto;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin: 20px 0;
  text-align: left;
  width: auto;
}

@media screen and (max-width: 1900px) {
  .main-slider .slick-dots {
    right: 0;
  }
}

@media screen and (max-width: 1500px) {
  .main-slider .slick-dots {
    display: none;
  }
}
