@media screen and (min-width: 992px) {
  .video__slider {
    width: 100vw;
  }
  .video__slider .video__item {
    max-width: 370px;
  }
}

.video__btn {
  margin-left: auto;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .video__btn {
    margin-top: 30px;
    margin-right: auto;
  }
}
