{% extends "base.html" %}
{% block right_column %}{% endblock %}
{% block top_block %}{% endblock %}
{#{% block top_block_3 %}{% endblock %}#}
{% block content_block_style %}style="width: 785px;"{% endblock %}
{% block page_div_style %}style="background-image:none;"{% endblock %}

{% block center_column %}
     <div class="translation" style="margin-left: 40px;">
        {% if object.data_open %}
             <input type="hidden" id="object_id" value="{{ object.id }}"/>
        {{ object.data_open|safe }}
          {% else %}
           <br /><br /><br/>
        <span class="title">Для просмотра онлайн трансляции войдите на сайт, используя Ваш логин и пароль. </span>

     <p class="inform-panel"><a style="float:left; margin-top:10px;" class="btn" href="/account/login/">Войти</a></p>
     <br /><br />
       <span class="title">Если вы не регистрировались ранее на сайте, пройдите регистрацию.</span>

     <p class="inform-panel"><a style="float:left;  margin-top:10px;"  class="btn" href="/account/register1/">Регистрация</a></p>
     {% endif %}
            {% if user.is_authenticated %}
                 <br>
        {{ object.data|safe }}
                {% endif %}

    </div>

    <script>
        //Increment the time counter every 30 sec.
        var idleInterval = setInterval(timerIncrement, 30000);
    </script>

{% endblock %}