<!DOCTYPE html>{% load staticfiles account_tags %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=1024"/>
    <title>{% block title_page %}Врачи Вместе{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <link rel="SHORTCUT ICON" href="{% static 'favicon.ico' %}"/>
    <link href="{% static 'css/basic.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery.fancybox-1.3.4.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/jquery.mCustomScrollbar.css' %}" rel="stylesheet" type="text/css"/>
    {% block style_page %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.preload-images.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/preload-images.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inji_inversion_menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fancybox-1.3.4.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/windows.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.openclose.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/jquery.utils.js' %}"></script>
    {% block js_page %}{% endblock %}
    <!--script type="text/javascript" src="{% static 'js/jquery.dajax.core.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dajaxice.core.js' %}"></script-->
</head>
<body>
<div class="page-div inner">
    <!-- ЛЕВЫЙ БЛОК (НАЧАЛО) -->
    <div class="left-block">
        <div class="left-block-content">{% block left_block %}
            <!-- Логотип -->
            <div class="left-block-content-logo" style="padding-left:10px;width:220px;padding-right:10px;">
                <a href="/" title="На главную">
                    <img src="{% static 'images/basic/logo.png' %}" alt="Врачи вместе">
                </a>
            </div>
            <!-- Профиль -->
            <div class="left-block-content-profile">
                <div class="left-block-content-line-1"></div>{% if user.is_authenticated %}
                <div class="left-block-content-profile-item">
                    <div class="left-block-content-profile-item-left">
                        <div class="left-block-content-profile-item-left-photo-bg">
                            <a href="{% url 'lichnie2' %}">
                                <div class="left-block-content-profile-item-left-photo"
                                     style="background-image:url({% get_avatar_preview_sizexy user.id 77 77 %}), url({{ user.avatar }})"></div>
                            </a>
                        </div>
                    </div>
                    <div class="left-block-content-profile-item-right">
                        <p>{{ user.lastname }}<br/>
                            {{ user.firstname }}<br/>
                            {{ user.surname }}</p>
                        {{ user.spec_id }}
                        <div class="left-block-content-profile-item-right-exit">
                            <a href="{% url 'logout' %}" target="_parent" title="Выход">выход</a>
                        </div>
                    </div>
                </div>
                <div class="left-block-content-line-1"></div>
                <div class="left-block-content-profile-links">
                    <div class="left-block-content-profile-links-item">
                        <ul>
                            <li><a href="{% url 'lichnie2' %}" target="_parent" title="Моя страница">Моя страница</a>
                            </li>
                            <li>
                                <a href="{% url 'invite' %}" target="_parent" title="Врачи на Врачи Вместе">
                                    <div class="left-block-content-profile-links-item-content">
                                        Все врачи
                                        <div class="left-block-content-profile-links-item-content-count">{% newinvite user %}</div>
                                    </div>
                                </a>
                            </li>
                            <li class="active">
                                <a href="{% url 'alldialogs' %}" target="_parent" title="Личные сообщения">
                                    <div class="left-block-content-profile-links-item-content">
                                        Личные сообщения
                                        <div class="left-block-content-profile-links-item-content-count">{% Unreaded user.id %}</div>
                                    </div>
                                </a>
                            </li>
                            <li><a href="{% url 'Interesting' %}" target="_parent" title="Интересное">Интересное</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <form class="register-form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="holder">
                        <label for="email-field">Ваш E-mail</label>
                        <input id="email-field" type="text" name="login" value="">
                    </div>
                    <div class="holder">
                        <label for="password-field">Ваш пароль</label>

                        <div class="password-field">
                            <input id="password-field" type="password" name="password" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="check-holder">
                            <input id="check-filed01" type="checkbox">
                            <label for="check-filed01">Запомнить меня</label>{{ error|safe }}
                        </div>
                        <a href="#" onclick="$(this).closest('form').submit();return false;" class="btn">вход</a>
                    </div>
                    <div class="left-block-content-line-1"></div>
                    <input type="button" value="Регистрация"
                           onclick="location.href='http://medtusovka.ru/registration'">

                    <div class="left-block-content-line-1"></div>
                    <div class="link-holder">
                        <a href="{% url "password_forgot" %}" class="link">Забыли пароль?</a>
                    </div>
                </form>{% endif %}
            </div>
            <!-- Форма приглашения -->
            <div class="left-block-content-line-2"></div>
            {% if user.is_authenticated %}
                <div class="left-block-content-invitation">
                    <div class="left-block-content-invitation-item">
                        <span id="invitation-1" title="Пригласить коллегу на &quot;Врачи Вместе&quot;"
                              onClick="$('div.left-block-content-invitation-item-form').slideDown();$('#invitation-1').hide();$('#invitation-2').show();">Пригласить коллегу на &quot;Врачи Вместе&quot;</span>
                        <span id="invitation-2" style="display:none" title="Скрыть форму"
                              onClick="$('div.left-block-content-invitation-item-form').slideUp();$('#invitation-2').hide();$('#invitation-1').show();">Скрыть форму</span>

                        <div class="left-block-content-invitation-item-form">
                            <form>
                                <input type="text" name="emails" id="emails" class="form-filed-1"
                                       value="Введите E-mail через запятую"
                                       onfocus="if (this.value == 'Введите E-mail через запятую') {this.value = '';}"
                                       onblur="if (this.value == '') {this.value = 'Введите E-mail через запятую';}"/>
                                <br/>
                                Поле для редактирования текста<br/>
                                для вашего приглашения<br/>
                                <textarea name="text" class="form-filed-2" id="text">Уважаемый коллега, приглашаю Вас в социальную сеть для врачей &quot;Врачи Вместе&quot;!</textarea>
                                <br/>
                                <script>
                                    function InviteCollegue() {
                                        Dajaxice.lichnie.InviteCollegue(Dajax.process, {
                                            'emails': $("input[name='emails']").val(),
                                            'message': $("textarea[name='text']").val()
                                        });
                                    }
                                </script>
                                <input type="submit" value="отправить" class="form-key-1"
                                       onclick="InviteCollegue(); return false;"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="left-block-content-line-2"></div>
            {% endif %}
            {% block left_menu %}<!-- Ссылки -->
                <div class="left-block-content-links">
                    <div class="left-block-content-links-item">
                        <span><a href="/" target="_parent" title="Главная лента">Главная лента</a></span>
                    </div>
                    <div class="left-block-content-links-item">
                        <span><a href="/events" target="_parent" title="Календарь мероприятий">Календарь конференций</a></span>{% count_new_events 'Events' %}
                    </div>
                    <div class="left-block-content-links-item">
                        <span><a href="/consultations" target="_parent" title="Он-лайн трансляция">Онлайн лекции</a></span> {% count_new_events 'Posts' 3 %}
                        {% online %}
                    </div>
                    <div class="left-block-content-links-item">
                        <span><a href="/videos" target="_parent"
                                 title="Видеоматериалы">Видеоматериалы</a></span>{% count_new_events 'Videos' %}
                    </div>
                    <div class="left-block-content-links-item">
                        <span><a href="/photo" target="_parent"
                                 title="Фотогалерея">Фотогалерея</a></span>{% count_new_events 'PGalleries' %}
                    </div>

                    <div class="left-block-content-links-item break" style="">
                        <span><a href="/groups" target="_parent"
                                 title="Группы">Группы</a></span>{% nonactivated user.id %}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="left-block-content-links-item">
                            <span><a href="/groups_posts" target="_parent" title="Новое в моих группах">Новое в моих
                                группах</a></span> {% count_new_events 'PostLinks' %}
                        </div>
                    {% endif %}
                    <div class="left-block-content-links-item break">
                        <span><a href="/vacancies" target="_parent" title="Резюме и вакансии">Резюме и
                            вакансии</a></span>{% count_new_events 'Posts' 8 %}
                    </div>
                    <div class="left-block-content-links-item">
                        <span><a href="/practice" target="_parent" title="Опросы и исследования">Опросы и
                            исследования</a></span> {% count_new_events 'Posts' 11 %}
                    </div>
                    <div class="left-block-content-links-item">
                        <span><a href="/magazines" target="_parent" title="Книги и журналы">Книги и
                            журналы</a></span>{% count_new_events 'Posts' 6 %}
                    </div>
                    <div class="left-block-content-links-item break">
                        <span><a href="/partners" target="_parent" title="Наши партнеры">Наши партнеры</a></span>
                    </div>
                </div>{% endblock %}
            {% block promoblock %}<!-- div class="promo-block"><img src="{% static 'images/img07.jpg' %}
                " width="200" height="300" alt="image description" --></div>{% endblock %}
        {% endblock %}</div>
    <!-- ЛЕВЫЙ БЛОК (КОНЕЦ) -->
    <!-- ОСНОВНОЙ БЛОК (НАЧАЛО) -->
    <div class="content-block">
        <!-- Верхняя плашка -->
        <div class="content-block-top">
            {% block top_block %}
                <div class="content-block-top-block-1-window-filter" id="window-filter">
                    <div class="content-block-top-block-1-window-filter-content">
                        <div class="content-block-top-block-1-window-filter-content-left">
                            <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                                <input id="checkbox-1" type="checkbox" name="Результаты фильтрации" uri="/" value="Все"
                                       checked hidden/>
                                <label for="checkbox-1">Все</label>
                            </div>
                            <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                                <input id="checkbox-2" type="checkbox" name="1" value="Новости" hidden/>
                                <label for="checkbox-2">Новости</label>
                            </div>
                            <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                                <input id="checkbox-3" type="checkbox" name="2" value="Статьи" hidden/>
                                <label for="checkbox-3">Статьи</label>
                            </div>
                            <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                                <input id="checkbox-4" type="checkbox" name="77" value="Клинические случаи" hidden/>
                                <label for="checkbox-4">Клинические случаи</label>
                            </div>
                            <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                                <input id="checkbox-5" type="checkbox" name="4" value="Вопрос коллегам" hidden/>
                                <label for="checkbox-5">Вопрос коллегам</label>
                            </div>
                            <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                                <input id="checkbox-6" type="checkbox" name="5" value="Частное мнение" hidden/>
                                <label for="checkbox-6">Частное мнение</label>
                            </div>
                            <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                                <input id="checkbox-7" type="checkbox" name="9" value="Обсуждение препарата" hidden/>
                                <label for="checkbox-7">Обсуждение препарата</label>
                            </div>
                            <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                                <input id="checkbox-8" type="checkbox" name="99" value="Видеоматериалы" hidden/>
                                <label for="checkbox-8">Видеоматериалы</label>
                            </div>
                            <div class="content-block-top-block-1-window-filter-content-left-checkbox">
                                <input id="checkbox-9" type="checkbox" name="88" value="Мероприятия" hidden/>
                                <label for="checkbox-9">Мероприятия</label>
                            </div>
                        </div>
                        <div class="content-block-top-block-1-window-filter-content-right">
                            <div class="content-block-top-block-1-window-filter-content-right-text">
                                Воспользуйтесь списком,<br/>
                                для того чтобы выбрать<br/>
                                нужную Вам специальность<br/>
                                материалов в ленте
                            </div>
                            <div class="content-block-top-block-1-window-filter-content-right-list">
                                <div class="content-block-top-block-1-window-filter-content-right-list-all-item"
                                     id="list-first">
                                </div>
                                <div class="filter-scroll content-block-top-block-1-window-filter-content-right-list-all"
                                     id="filter-scroll">
                                    <div class="filter-scroll-item" id="list-"><span>Все специальности</span></div>
                                    {% for speciality in specialities_list %}
                                        <div class="filter-scroll-item" id="list-{{ speciality.id }}">
                                            <span>{{ speciality.name }}</span></div>{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block-top-block-1-window-filter-bottom">
                        <input type="submit" id="save-filter" value="Сохранить параметры" class="form-key-7"/>
                    </div>
                </div>
                <div class="content-block-top-block-1">
                    <span>Фильтр ленты публикаций:</span>

                    <div class="content-block-top-block-1-filed" title="Изменить фильтр публикаций" id="filter">
                        <div class="content-block-top-block-1-filed-arrow"></div>
                        <input type="text" name="filter" id="filter-value" class="form-filed-8"/>
                    </div>
                </div>
                <div class="content-block-top-separator"></div>
                <div class="content-block-top-block-2">
                    <span>Поиск по слову:</span>

                    <form class="content-block-top-block-2-filed">
                        <div class="content-block-top-block-1-filed-search" title="Начать поиск"></div>
                        <input type="text" name="search" class="form-filed-9" placeholder="{{ search }}"
                               value="{{ search|default:'' }}"/>
                    </form>
                </div>
                <div class="content-block-top-separator"></div>
            {% endblock %}
            {% include 'medtus/feedback_form.html' %}
        </div>
        <!-- Центральная колонка -->
        <div class="content-block-center" style="margin-left:-100px;">{% if not user.is_authenticated %}
            <div class="inform-area">
                <span class="title">Чтобы увидеть полный текст, посмотреть видео, оставить комментарий, необходимо </span>

                <div class="inform-panel">
                    <a href="{% url 'login' %}" class="btn">Войти</a>
                    <span>или</span>
                    <a href="{% url 'register1' %}" class="btn">Зарегистрироваться</a>
                </div>
            </div>{% endif %}{% block filter_content %}{% endblock %}
            <!-- Заголовок -->
            {% block content %}{% endblock %}
        </div>
        <!-- Правая колонка -->
        <div class="content-block-right">{% block right_block %}
            <!-- Анонс -->
            <div class="content-block-right-anons">
                <!-- 1 -->
                {% nows as now %}
                {% if now %}
                    <div class="content-block-right-anons-item">
                        <div class="content-block-right-anons-item-flag">Сегодня</div>
                        <div class="content-block-right-anons-item-photo-video">
                            <a href="{% url 'detailevent' now.id %}" target="_parent" title="Читать полностью">
                                <img src="{% static 'images/anons/1.jpg' %}" width="190" height="140"
                                     alt="{{ now.title }}"/>
                            </a>
                        </div>
                        <strong><a href="{% url 'detailevent' now.id %}" target="_parent"
                                   title="Читать полностью">{{ now.title }}</a></strong><br/>
                        {{ now.start|date:'d.m.Y' }} - {{ now.end|date:'d.m.Y' }}<br/>
                        Время: {{ now.start|date:'H:m' }}
                    </div>
                {% endif %}
                <!-- 2 -->
                {% afters as after %}
                {% if after %}
                    <div class="content-block-right-anons-item">
                        <div class="content-block-right-anons-item-flag">Скоро</div>
                        <div class="content-block-right-anons-item-photo-video">
                            <a href="{% url 'detailevent' after.id %}" target="_parent" title="Читать полностью">
                                <img src="{% static 'images/anons/2.jpg' %}" width="190" height="140"
                                     alt="{{ after.title }}"/>
                            </a>
                        </div>
                        <strong><a href="{% url 'detailevent' after.id %}" target="_parent"
                                   title="Читать полностью">{{ after.title }}</a></strong><br/>
                        {{ after.start|date:'d.m.Y' }} - {{ after.end|date:'d.m.Y' }}<br/>
                        Время: {{ after.start|date:'H:m' }}
                    </div>
                {% endif %}
            </div>
            <div class="content-block-right-social">
              {% include '_partial/social.html' %}
            </div>
            <!-- Баннер -->
            <div class="content-block-right-banner">
                <a href="" target="_blank" title="Баннер">
                    <img src="{% static 'banners/1.jpg' %}" width="240" height="400" alt="Баннер"/>
                </a>
            </div>
            <!-- Сейчас читают -->
            <div class="content-block-right-read-now">
                <div class="content-block-right-read-now-head">Сейчас читают:</div>
                {% most_visited %}
            </div>
            <!-- Самые популярные -->
            <div class="content-block-right-popular">
                <!-- Клинические случаи -->
                {% most_popular_events 'DAY' %}
                {% most_popular_events 'MONTH' %}
                <div class="content-block-right-popular-item-dashed">
                    <div class="content-block-right-popular-item-present-window">
                        <div class="content-block-right-popular-item-present-window-photo"
                             style="background-image:url({% static 'images/present/1.jpg' %})"></div>
                        <div class="content-block-right-popular-item-present-window-descr">
                            <p><strong>Sportster® SuperLow®</strong></p>

                            <p>Плавность работы подвески, удобная посадка и совершенно неутомительное управление
                                позволяют проделать на этом мотоцикле долгий путь.</p>
                        </div>
                    </div>
                </div>
                <!-- Подарок -->
                <div class="content-block-right-popular-item-present" title="Подарки победителям!"
                     onMouseOver="$('div.content-block-right-popular-item-present-window').fadeIn();"
                     onMouseOut="$('div.content-block-right-popular-item-present-window').fadeOut();">
                    Подарки победителям!
                </div>
            </div>
            <!-- Статистика -->
            <div class="content-block-right-statistics">
                <strong>{% get_all_users %}</strong> врачей зарегистрировано в сети<br/>
                <strong>{% get_all_from_my_town user.id %}</strong> врачей из моего города<br/>
                <strong>{% get_all_with_my_spec user.id %}</strong> врачей моей специальности
            </div>
            <!-- Реклама на сайте -->
            <div class="content-block-right-reklama">
                <a href="" target="_parent" title="Реклама на сайте">Реклама на сайте</a>
            </div>{% endblock %}
        </div>
    </div>
    <!-- ОСНОВНОЙ БЛОК (КОНЕЦ) -->
</div>
</body>
</html>
